
# "oids" is a comma-separated list of oids used during session testing. All oids will be requested
# and only one has to respond to validate session. If none provides any answer, this means there's
# no device or the device is not reachable.
# By default, only sysDescr(.1.3.6.1.2.1.1.1.0) is checked.
#oids = .1.3.6.1.2.1.1.1.0

# As example, if you need to also discover Snom IP phones which doesn't answer on sysDescr, you can
# uncomment the following line:
#oids = .1.3.6.1.2.1.1.1.0,.1.3.6.1.2.1.7526.2.4

# "maxrepetitions" is the default value for -maxrepetitions Net::SNMP get_table() parameter.
# If set to 0, Net::SNMP will always try to use get-bulk-requests. If a device doesn't support this
# kind of request, this option must be kept to 1 or it won't be supported.
#maxrepetitions = 1

# By default, we try to discover if a device supports bulk requests but this can be disabled if that
# check makes trouble.
#skip-bulk-support-discovery = 0

# By default, when checking if a device supports get-bulk-request, we do it on mib-2.system
# "bulk-support-discovery-oid" can be defined to another numeric oid if mib-2.system is not correct.
#bulk-support-discovery-oid = .1.3.6.1.2.1.1

# You should create and define you specific parameter in the following included configuration file
# to override any default.
include "snmp-advanced-support.local"
