<?xml version="1.0" encoding="utf-8"?>
<?include Variables-v2.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="$(var.ProductGUID)" UpgradeCode="$(var.UpgradeCode)"
           Language='1033'  Codepage="1252"  Manufacturer="$(var.Manufacturer)"
           Name="$(var.ProductName)" Version="$(var.CurrentVersion)">

    <Package Id='*' Description="$(var.ProductName)"
             Languages='1033' SummaryCodepage="1252" Comments="$(var.PkgComments)"
             InstallerVersion='200' Compressed='yes' InstallPrivileges='elevated' InstallScope="perMachine" />

    <Media Id='1' Cabinet='GLPIAgent.cab' CompressionLevel='high' EmbedCab='yes' />

    <Property Id="ARPCOMMENTS" Value="$(var.ProductName)" />
    <Property Id="ARPCONTACT" Value="$(var.Manufacturer)" />
    <Property Id="ARPURLINFOABOUT" Value="$(var.URLAbout)" />
    <Property Id="ARPHELPLINK" Value="$(var.URLHelp)" />
    <Property Id="ARPPRODUCTICON" Value="i_main_ico" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <Property Id="INSTALLLEVEL" Value="3" />

    <!-- Properties used by a radio button needs to have a value otherwise an error is rised during MSI build -->
    <Property Id="_EXECMODE_RADIO_BUTTON" Value="1" Secure="yes" />

    <Property Id="UPGRADEDIR" Secure="yes">
      <RegistrySearch Id="InstallDir" Root="HKLM" Key="[%agent_regpath%]\Installer" Name="InstallLocation" Type="raw" />
    </Property>

    <Property Id="QUICKINSTALL" Secure="yes">
      <RegistrySearch Id="QuickInstall" Root="HKLM" Key="[%agent_regpath%]\Installer" Name="QuickInstall" Type="raw" />
    </Property>
    <SetProperty Id="CMDLINE_QUICKINSTALL" Before="AppSearch" Value="[QUICKINSTALL]" />
    <SetProperty Id="QUICKINSTALL"         After="AppSearch"  Value="[CMDLINE_QUICKINSTALL]"><![CDATA[CMDLINE_QUICKINSTALL<>""]]></SetProperty>

    <Property Id="RUNNOW" Secure="yes">
      <RegistrySearch Id="RunNow" Root="HKLM" Key="[%agent_regpath%]\Installer" Name="RunNow" Type="raw" />
    </Property>
    <SetProperty Id="CMDLINE_RUNNOW" Before="AppSearch" Value="[RUNNOW]" />
    <SetProperty Id="RUNNOW"         After="AppSearch"  Value="[CMDLINE_RUNNOW]"><![CDATA[CMDLINE_RUNNOW<>""]]></SetProperty>

    <Property Id="EXECMODE" Secure="yes">
      <RegistrySearch Id="ExecMode" Root="HKLM" Key="[%agent_regpath%]\Installer" Name="ExecMode" Type="raw" />
    </Property>
    <SetProperty Id="CMDLINE_EXECMODE" Before="AppSearch" Value="[EXECMODE]" />
    <SetProperty Id="EXECMODE"         After="AppSearch"  Value="[CMDLINE_EXECMODE]"><![CDATA[CMDLINE_EXECMODE<>""]]></SetProperty>

    <Property Id="ADD_FIREWALL_EXCEPTION" Secure="yes">
      <RegistrySearch Id="AddFirewallException" Root="HKLM" Key="[%agent_regpath%]\Installer" Name="AddFirewallException" Type="raw" />
    </Property>
    <SetProperty Id="CMDLINE_ADD_FIREWALL_EXCEPTION" Before="AppSearch" Value="[ADD_FIREWALL_EXCEPTION]" />
    <SetProperty Id="ADD_FIREWALL_EXCEPTION"         After="AppSearch"  Value="[CMDLINE_ADD_FIREWALL_EXCEPTION]"><![CDATA[CMDLINE_ADD_FIREWALL_EXCEPTION<>""]]></SetProperty>

    <Property Id="TASK_FREQUENCY" Secure="yes">
      <RegistrySearch Id="TaskFrequency" Root="HKLM" Key="[%agent_regpath%]\Installer" Name="TaskFrequency" Type="raw" />
    </Property>
    <SetProperty Id="CMDLINE_TASK_FREQUENCY" Before="AppSearch" Value="[TASK_FREQUENCY]" />
    <SetProperty Id="TASK_FREQUENCY"         After="AppSearch"  Value="[CMDLINE_TASK_FREQUENCY]"><![CDATA[CMDLINE_TASK_FREQUENCY<>""]]></SetProperty>

    <Property Id="TASK_MINUTE_MODIFIER" Secure="yes">
      <RegistrySearch Id="TaskMinuteModifier" Root="HKLM" Key="[%agent_regpath%]\Installer" Name="TaskMinuteModifier" Type="raw" />
    </Property>
    <SetProperty Id="CMDLINE_TASK_MINUTE_MODIFIER" Before="AppSearch" Value="[TASK_MINUTE_MODIFIER]" />
    <SetProperty Id="TASK_MINUTE_MODIFIER"         After="AppSearch"  Value="[CMDLINE_TASK_MINUTE_MODIFIER]"><![CDATA[CMDLINE_TASK_MINUTE_MODIFIER<>""]]></SetProperty>

    <Property Id="TASK_HOURLY_MODIFIER" Secure="yes">
      <RegistrySearch Id="TaskHourlyModifier" Root="HKLM" Key="[%agent_regpath%]\Installer" Name="TaskHourlyModifier" Type="raw" />
    </Property>
    <SetProperty Id="CMDLINE_TASK_HOURLY_MODIFIER" Before="AppSearch" Value="[TASK_HOURLY_MODIFIER]" />
    <SetProperty Id="TASK_HOURLY_MODIFIER"         After="AppSearch"  Value="[CMDLINE_TASK_HOURLY_MODIFIER]"><![CDATA[CMDLINE_TASK_HOURLY_MODIFIER<>""]]></SetProperty>

    <Property Id="TASK_DAILY_MODIFIER" Secure="yes">
      <RegistrySearch Id="TaskDailyModifier" Root="HKLM" Key="[%agent_regpath%]\Installer" Name="TaskDailyModifier" Type="raw" />
    </Property>
    <SetProperty Id="CMDLINE_TASK_DAILY_MODIFIER" Before="AppSearch" Value="[TASK_DAILY_MODIFIER]" />
    <SetProperty Id="TASK_DAILY_MODIFIER"         After="AppSearch"  Value="[CMDLINE_TASK_DAILY_MODIFIER]"><![CDATA[CMDLINE_TASK_DAILY_MODIFIER<>""]]></SetProperty>

    <Property Id="SERVER" Secure="yes">
      <RegistrySearch Id="Server" Root="HKLM" Key="[%agent_regpath%]" Name="server" Type="raw"/>
    </Property>
    <SetProperty Id="CMDLINE_SERVER"  Before="AppSearch" Value="[SERVER]" />
    <SetProperty Id="SERVER"          After="AppSearch"  Value="[CMDLINE_SERVER]"><![CDATA[CMDLINE_SERVER<>""]]></SetProperty>

    <Property Id="LOCAL" Secure="yes">
      <RegistrySearch Id="Local" Root="HKLM" Key="[%agent_regpath%]" Name="local" Type="raw"/>
    </Property>
    <SetProperty Id="CMDLINE_LOCAL"   Before="AppSearch" Value="[LOCAL]" />
    <SetProperty Id="LOCAL"           After="AppSearch"  Value="[CMDLINE_LOCAL]"><![CDATA[CMDLINE_LOCAL<>""]]></SetProperty>

    <Property Id="ADDITIONAL_CONTENT" Secure="yes">
      <RegistrySearch Id="AdditionalContent" Root="HKLM" Key="[%agent_regpath%]" Name="additional-content" Type="raw"/>
    </Property>
    <SetProperty Id="CMDLINE_ADDITIONAL_CONTENT"   Before="AppSearch" Value="[ADDITIONAL_CONTENT]" />
    <SetProperty Id="ADDITIONAL_CONTENT"           After="AppSearch"  Value="[CMDLINE_ADDITIONAL_CONTENT]"><![CDATA[CMDLINE_ADDITIONAL_CONTENT<>""]]></SetProperty>

    <Property Id="DEBUG" Secure="yes">
      <RegistrySearch Id="Debug" Root="HKLM" Key="[%agent_regpath%]" Name="debug" Type="raw"/>
    </Property>
    <SetProperty Id="CMDLINE_DEBUG"   Before="AppSearch" Value="[DEBUG]" />
    <SetProperty Id="DEBUG"           After="AppSearch"  Value="[CMDLINE_DEBUG]"><![CDATA[CMDLINE_DEBUG<>""]]></SetProperty>

    <Property Id="LOGGER" Secure="yes">
      <RegistrySearch Id="Logger" Root="HKLM" Key="[%agent_regpath%]" Name="logger" Type="raw"/>
    </Property>
    <SetProperty Id="CMDLINE_LOGGER" Before="AppSearch" Value="[LOGGER]" />
    <SetProperty Id="LOGGER"         After="AppSearch"  Value="[CMDLINE_LOGGER]"><![CDATA[CMDLINE_LOGGER<>""]]></SetProperty>

    <Property Id="LOGFILE" Secure="yes">
      <RegistrySearch Id="LogFile" Root="HKLM" Key="[%agent_regpath%]" Name="logfile" Type="raw"/>
    </Property>
    <SetProperty Id="CMDLINE_LOGFILE" Before="AppSearch" Value="[LOGFILE]" />
    <SetProperty Id="LOGFILE"         After="AppSearch"  Value="[CMDLINE_LOGFILE]"><![CDATA[CMDLINE_LOGFILE<>""]]></SetProperty>

    <Property Id="LOGFILE_MAXSIZE" Secure="yes">
      <RegistrySearch Id="LogFileMaxSize" Root="HKLM" Key="[%agent_regpath%]" Name="logfile-maxsize" Type="raw"/>
    </Property>
    <SetProperty Id="CMDLINE_LOGFILE_MAXSIZE" Before="AppSearch" Value="[LOGFILE_MAXSIZE]" />
    <SetProperty Id="LOGFILE_MAXSIZE"         After="AppSearch"  Value="[CMDLINE_LOGFILE_MAXSIZE]"><![CDATA[CMDLINE_LOGFILE_MAXSIZE<>""]]></SetProperty>

    <Property Id="NO_HTTPD" Secure="yes">
      <RegistrySearch Id="NoHTTPd" Root="HKLM" Key="[%agent_regpath%]" Name="no-httpd" Type="raw"/>
    </Property>
    <SetProperty Id="CMDLINE_NO_HTTPD" Before="AppSearch" Value="[NO_HTTPD]" />
    <SetProperty Id="NO_HTTPD"         After="AppSearch"  Value="[CMDLINE_NO_HTTPD]"><![CDATA[CMDLINE_NO_HTTPD<>""]]></SetProperty>

    <Property Id="HTTPD_IP" Secure="yes">
      <RegistrySearch Id="Httpd_IP" Root="HKLM" Key="[%agent_regpath%]" Name="httpd-ip" Type="raw"/>
    </Property>
    <SetProperty Id="CMDLINE_HTTPD_IP" Before="AppSearch" Value="[HTTPD_IP]" />
    <SetProperty Id="HTTPD_IP"         After="AppSearch"  Value="[CMDLINE_HTTPD_IP]"><![CDATA[CMDLINE_HTTPD_IP<>""]]></SetProperty>

    <Property Id="HTTPD_PORT" Secure="yes">
      <RegistrySearch Id="Httpd_Port" Root="HKLM" Key="[%agent_regpath%]" Name="httpd-port" Type="raw"/>
    </Property>
    <SetProperty Id="CMDLINE_HTTPD_PORT" Before="AppSearch" Value="[HTTPD_PORT]" />
    <SetProperty Id="HTTPD_PORT"         After="AppSearch"  Value="[CMDLINE_HTTPD_PORT]"><![CDATA[CMDLINE_HTTPD_PORT<>""]]></SetProperty>

    <Property Id="HTTPD_TRUST" Secure="yes">
      <RegistrySearch Id="Httpd_Trust" Root="HKLM" Key="[%agent_regpath%]" Name="httpd-trust" Type="raw"/>
    </Property>
    <SetProperty Id="CMDLINE_HTTPD_TRUST" Before="AppSearch" Value="[HTTPD_TRUST]" />
    <SetProperty Id="HTTPD_TRUST"         After="AppSearch"  Value="[CMDLINE_HTTPD_TRUST]"><![CDATA[CMDLINE_HTTPD_TRUST<>""]]></SetProperty>

    <Property Id="TAG" Secure="yes">
      <RegistrySearch Id="Tag" Root="HKLM" Key="[%agent_regpath%]" Name="tag" Type="raw"/>
    </Property>
    <SetProperty Id="CMDLINE_TAG" Before="AppSearch" Value="[TAG]" />
    <SetProperty Id="TAG"         After="AppSearch"  Value="[CMDLINE_TAG]"><![CDATA[CMDLINE_TAG<>""]]></SetProperty>

    <Property Id="SCAN_HOMEDIRS" Secure="yes">
      <RegistrySearch Id="ScanHomedirs" Root="HKLM" Key="[%agent_regpath%]" Name="scan-homedirs" Type="raw"/>
    </Property>
    <SetProperty Id="CMDLINE_SCAN_HOMEDIRS" Before="AppSearch" Value="[SCAN_HOMEDIRS]" />
    <SetProperty Id="SCAN_HOMEDIRS"         After="AppSearch"  Value="[CMDLINE_SCAN_HOMEDIRS]"><![CDATA[CMDLINE_SCAN_HOMEDIRS<>""]]></SetProperty>

    <Property Id="SCAN_PROFILES" Secure="yes">
      <RegistrySearch Id="ScanProfiles" Root="HKLM" Key="[%agent_regpath%]" Name="scan-profiles" Type="raw"/>
    </Property>
    <SetProperty Id="CMDLINE_SCAN_PROFILES" Before="AppSearch" Value="[SCAN_PROFILES]" />
    <SetProperty Id="SCAN_PROFILES"         After="AppSearch"  Value="[CMDLINE_SCAN_PROFILES]"><![CDATA[CMDLINE_SCAN_PROFILES<>""]]></SetProperty>

    <Property Id="TIMEOUT" Secure="yes">
      <RegistrySearch Id="TimeOut" Root="HKLM" Key="[%agent_regpath%]" Name="timeout" Type="raw"/>
    </Property>
    <SetProperty Id="CMDLINE_TIMEOUT" Before="AppSearch" Value="[TIMEOUT]" />
    <SetProperty Id="TIMEOUT"         After="AppSearch"  Value="[CMDLINE_TIMEOUT]"><![CDATA[CMDLINE_TIMEOUT<>""]]></SetProperty>

    <Property Id="DELAYTIME" Secure="yes">
      <RegistrySearch Id="DelayTime" Root="HKLM" Key="[%agent_regpath%]" Name="delaytime" Type="raw"/>
    </Property>
    <SetProperty Id="CMDLINE_DELAYTIME" Before="AppSearch" Value="[DELAYTIME]" />
    <SetProperty Id="DELAYTIME"         After="AppSearch"  Value="[CMDLINE_DELAYTIME]"><![CDATA[CMDLINE_DELAYTIME<>""]]></SetProperty>

    <Property Id="BACKEND_COLLECT_TIMEOUT" Secure="yes">
      <RegistrySearch Id="BackendCollectTimeout" Root="HKLM" Key="[%agent_regpath%]" Name="backend-collect-timeout" Type="raw"/>
    </Property>
    <SetProperty Id="CMDLINE_BACKEND_COLLECT_TIMEOUT" Before="AppSearch" Value="[BACKEND_COLLECT_TIMEOUT]" />
    <SetProperty Id="BACKEND_COLLECT_TIMEOUT"         After="AppSearch"  Value="[CMDLINE_BACKEND_COLLECT_TIMEOUT]"><![CDATA[CMDLINE_BACKEND_COLLECT_TIMEOUT<>""]]></SetProperty>

    <Property Id="NO_P2P" Secure="yes">
      <RegistrySearch Id="NoP2p" Root="HKLM" Key="[%agent_regpath%]" Name="no-p2p" Type="raw"/>
    </Property>
    <SetProperty Id="CMDLINE_NO_P2P" Before="AppSearch" Value="[NO_P2P]" />
    <SetProperty Id="NO_P2P"         After="AppSearch"  Value="[CMDLINE_NO_P2P]"><![CDATA[CMDLINE_NO_P2P<>""]]></SetProperty>

    <Property Id="TASKS" Secure="yes">
      <RegistrySearch Id="Tasks" Root="HKLM" Key="[%agent_regpath%]" Name="tasks" Type="raw"/>
    </Property>
    <SetProperty Id="CMDLINE_TASKS" Before="AppSearch" Value="[TASKS]" />
    <SetProperty Id="TASKS"         After="AppSearch"  Value="[CMDLINE_TASKS]"><![CDATA[CMDLINE_TASKS<>""]]></SetProperty>

    <Property Id="NO_TASK" Secure="yes">
      <RegistrySearch Id="NoTask" Root="HKLM" Key="[%agent_regpath%]" Name="no-task" Type="raw"/>
    </Property>
    <SetProperty Id="CMDLINE_NO_TASK" Before="AppSearch" Value="[NO_TASK]" />
    <SetProperty Id="NO_TASK"         After="AppSearch"  Value="[CMDLINE_NO_TASK]"><![CDATA[CMDLINE_NO_TASK<>""]]></SetProperty>

    <Property Id="NO_CATEGORY" Secure="yes">
      <RegistrySearch Id="NoCategory" Root="HKLM" Key="[%agent_regpath%]" Name="no-category" Type="raw"/>
    </Property>
    <SetProperty Id="CMDLINE_NO_CATEGORY" Before="AppSearch" Value="[NO_CATEGORY]" />
    <SetProperty Id="NO_CATEGORY"         After="AppSearch"  Value="[CMDLINE_NO_CATEGORY]"><![CDATA[CMDLINE_NO_CATEGORY<>""]]></SetProperty>

    <Property Id="CA_CERT_DIR" Secure="yes">
      <RegistrySearch Id="CACertDir" Root="HKLM" Key="[%agent_regpath%]" Name="ca-cert-dir" Type="raw"/>
    </Property>
    <SetProperty Id="CMDLINE_CA_CERT_DIR" Before="AppSearch" Value="[CA_CERT_DIR]" />
    <SetProperty Id="CA_CERT_DIR"         After="AppSearch"  Value="[CMDLINE_CA_CERT_DIR]"><![CDATA[CMDLINE_CA_CERT_DIR<>""]]></SetProperty>

    <Property Id="CA_CERT_FILE" Secure="yes">
      <RegistrySearch Id="CACertFile" Root="HKLM" Key="[%agent_regpath%]" Name="ca-cert-file" Type="raw"/>
    </Property>
    <SetProperty Id="CMDLINE_CA_CERT_FILE" Before="AppSearch" Value="[CA_CERT_FILE]" />
    <SetProperty Id="CA_CERT_FILE"         After="AppSearch"  Value="[CMDLINE_CA_CERT_FILE]"><![CDATA[CMDLINE_CA_CERT_FILE<>""]]></SetProperty>

    <Property Id="SSL_FINGERPRINT" Secure="yes">
      <RegistrySearch Id="SSLFingerPrint" Root="HKLM" Key="[%agent_regpath%]" Name="ssl-fingerprint" Type="raw"/>
    </Property>
    <SetProperty Id="CMDLINE_SSL_FINGERPRINT" Before="AppSearch" Value="[SSL_FINGERPRINT]" />
    <SetProperty Id="SSL_FINGERPRINT"         After="AppSearch"  Value="[CMDLINE_SSL_FINGERPRINT]"><![CDATA[CMDLINE_SSL_FINGERPRINT<>""]]></SetProperty>

    <Property Id="SSL_CERT_FILE" Secure="yes">
      <RegistrySearch Id="SSLCertFile" Root="HKLM" Key="[%agent_regpath%]" Name="ssl-cert-file" Type="raw"/>
    </Property>
    <SetProperty Id="CMDLINE_SSL_CERT_FILE" Before="AppSearch" Value="[SSL_CERT_FILE]" />
    <SetProperty Id="SSL_CERT_FILE"         After="AppSearch"  Value="[CMDLINE_SSL_CERT_FILE]"><![CDATA[CMDLINE_SSL_CERT_FILE<>""]]></SetProperty>

    <Property Id="NO_COMPRESSION" Secure="yes">
      <RegistrySearch Id="NoCompression" Root="HKLM" Key="[%agent_regpath%]" Name="no-compression" Type="raw"/>
    </Property>
    <SetProperty Id="CMDLINE_NO_COMPRESSION" Before="AppSearch" Value="[NO_COMPRESSION]" />
    <SetProperty Id="NO_COMPRESSION"         After="AppSearch"  Value="[CMDLINE_NO_COMPRESSION]"><![CDATA[CMDLINE_NO_COMPRESSION<>""]]></SetProperty>

    <Property Id="PROXY" Secure="yes">
      <RegistrySearch Id="Proxy" Root="HKLM" Key="[%agent_regpath%]" Name="proxy" Type="raw"/>
    </Property>
    <SetProperty Id="CMDLINE_PROXY" Before="AppSearch" Value="[PROXY]" />
    <SetProperty Id="PROXY"         After="AppSearch"  Value="[CMDLINE_PROXY]"><![CDATA[CMDLINE_PROXY<>""]]></SetProperty>

    <Property Id="PASSWORD" Secure="yes">
      <RegistrySearch Id="Password" Root="HKLM" Key="[%agent_regpath%]" Name="password" Type="raw"/>
    </Property>
    <SetProperty Id="CMDLINE_PASSWORD" Before="AppSearch" Value="[PASSWORD]" />
    <SetProperty Id="PASSWORD"         After="AppSearch"  Value="[CMDLINE_PASSWORD]"><![CDATA[CMDLINE_PASSWORD<>""]]></SetProperty>

    <Property Id="USER" Secure="yes">
      <RegistrySearch Id="User" Root="HKLM" Key="[%agent_regpath%]" Name="user" Type="raw"/>
    </Property>
    <SetProperty Id="CMDLINE_USER" Before="AppSearch" Value="[USER]" />
    <SetProperty Id="USER"         After="AppSearch"  Value="[CMDLINE_USER]"><![CDATA[CMDLINE_USER<>""]]></SetProperty>

    <Property Id="REMOTE" Secure="yes">
      <RegistrySearch Id="Remote" Root="HKLM" Key="[%agent_regpath%]" Name="remote" Type="raw"/>
    </Property>
    <SetProperty Id="CMDLINE_REMOTE" Before="AppSearch" Value="[REMOTE]" />
    <SetProperty Id="REMOTE"         After="AppSearch"  Value="[CMDLINE_REMOTE]"><![CDATA[CMDLINE_REMOTE<>""]]></SetProperty>

    <Property Id="REMOTE_WORKERS" Secure="yes">
      <RegistrySearch Id="RemoteWorkers" Root="HKLM" Key="[%agent_regpath%]" Name="remote-workers" Type="raw"/>
    </Property>
    <SetProperty Id="CMDLINE_REMOTE_WORKERS" Before="AppSearch" Value="[REMOTE_WORKERS]" />
    <SetProperty Id="REMOTE_WORKERS"         After="AppSearch"  Value="[CMDLINE_REMOTE_WORKERS]"><![CDATA[CMDLINE_REMOTE_WORKERS<>""]]></SetProperty>

    <Property Id="HTML" Secure="yes">
      <RegistrySearch Id="Html" Root="HKLM" Key="[%agent_regpath%]" Name="html" Type="raw"/>
    </Property>
    <SetProperty Id="CMDLINE_HTML" Before="AppSearch" Value="[HTML]" />
    <SetProperty Id="HTML"         After="AppSearch"  Value="[CMDLINE_HTML]"><![CDATA[CMDLINE_HTML<>""]]></SetProperty>

    <Property Id="JSON" Secure="yes">
      <RegistrySearch Id="Json" Root="HKLM" Key="[%agent_regpath%]" Name="json" Type="raw"/>
    </Property>
    <SetProperty Id="CMDLINE_JSON" Before="AppSearch" Value="[JSON]" />
    <SetProperty Id="JSON"         After="AppSearch"  Value="[CMDLINE_JSON]"><![CDATA[CMDLINE_JSON<>""]]></SetProperty>

    <Property Id="CONF_RELOAD_INTERVAL" Secure="yes">
      <RegistrySearch Id="ConfReloadInterval" Root="HKLM" Key="[%agent_regpath%]" Name="conf-reload-interval" Type="raw"/>
    </Property>
    <SetProperty Id="CMDLINE_CONF_RELOAD_INTERVAL" Before="AppSearch" Value="[CONF_RELOAD_INTERVAL]" />
    <SetProperty Id="CONF_RELOAD_INTERVAL"         After="AppSearch"  Value="[CMDLINE_CONF_RELOAD_INTERVAL]"><![CDATA[CMDLINE_CONF_RELOAD_INTERVAL<>""]]></SetProperty>

    <Property Id="NO_SSL_CHECK" Secure="yes">
      <RegistrySearch Id="NoSSLCheck" Root="HKLM" Key="[%agent_regpath%]" Name="no-ssl-check" Type="raw"/>
    </Property>
    <SetProperty Id="CMDLINE_NO_SSL_CHECK" Before="AppSearch" Value="[NO_SSL_CHECK]" />
    <SetProperty Id="NO_SSL_CHECK"         After="AppSearch"  Value="[CMDLINE_NO_SSL_CHECK]"><![CDATA[CMDLINE_NO_SSL_CHECK<>""]]></SetProperty>

    <Property Id="LAZY" Secure="yes">
      <RegistrySearch Id="Lazy" Root="HKLM" Key="[%agent_regpath%]" Name="lazy" Type="raw"/>
    </Property>
    <SetProperty Id="CMDLINE_LAZY" Before="AppSearch" Value="[LAZY]" />
    <SetProperty Id="LAZY"         After="AppSearch"  Value="[CMDLINE_LAZY]"><![CDATA[CMDLINE_LAZY<>""]]></SetProperty>

    <Property Id="LISTEN" Secure="yes">
      <RegistrySearch Id="Listen" Root="HKLM" Key="[%agent_regpath%]" Name="listen" Type="raw"/>
    </Property>
    <SetProperty Id="CMDLINE_LISTEN" Before="AppSearch" Value="[LISTEN]" />
    <SetProperty Id="LISTEN"         After="AppSearch"  Value="[CMDLINE_LISTEN]"><![CDATA[CMDLINE_LISTEN<>""]]></SetProperty>

    <Property Id="VARDIR" Secure="yes">
      <RegistrySearch Id="VarDir" Root="HKLM" Key="[%agent_regpath%]" Name="vardir" Type="raw"/>
    </Property>
    <SetProperty Id="CMDLINE_VARDIR" Before="AppSearch" Value="[VARDIR]" />
    <SetProperty Id="VARDIR"         After="AppSearch"  Value="[CMDLINE_VARDIR]"><![CDATA[CMDLINE_VARDIR<>""]]></SetProperty>

    <!-- Configuration defaults after handling command line and registry checks -->
    <SetProperty Id="DEBUG"         Action="DEBUG_Default"         After="AppSearch"  Value="0">NOT DEBUG</SetProperty>
    <SetProperty Id="LOGGER"        Action="LOGGER_Default"        After="AppSearch"  Value="file">NOT LOGGER</SetProperty>
    <SetProperty Id="LOGFILE_MAXSIZE" Action="LOGFILE_MAXSIZE_Default" After="AppSearch" Value="4">NOT LOGFILE_MAXSIZE</SetProperty>
    <SetProperty Id="NO_HTTPD"      Action="NO_HTTPD_Default"      After="AppSearch"  Value="0">NOT NO_HTTPD</SetProperty>
    <SetProperty Id="HTTPD_IP"      Action="HTTPD_IP_Default"      After="AppSearch"  Value="0.0.0.0">NOT HTTPD_IP</SetProperty>
    <SetProperty Id="HTTPD_PORT"    Action="HTTPD_PORT_Default"    After="AppSearch"  Value="62354">NOT HTTPD_PORT</SetProperty>
    <SetProperty Id="HTTPD_TRUST"   Action="HTTPD_TRUST_Default"   After="AppSearch"  Value="127.0.0.1/32">NOT HTTPD_TRUST</SetProperty>
    <SetProperty Id="SCAN_HOMEDIRS" Action="SCAN_HOMEDIRS_Default" After="AppSearch"  Value="0">NOT SCAN_HOMEDIRS</SetProperty>
    <SetProperty Id="SCAN_PROFILES" Action="SCAN_PROFILES_Default" After="AppSearch"  Value="0">NOT SCAN_PROFILES</SetProperty>
    <SetProperty Id="TIMEOUT"       Action="TIMEOUT_Default"       After="AppSearch"  Value="180">NOT TIMEOUT</SetProperty>
    <SetProperty Id="DELAYTIME"     Action="DELAYTIME_Default"     After="AppSearch"  Value="3600">NOT DELAYTIME</SetProperty>
    <SetProperty Id="NO_COMPRESSION" Action="NO_COMPRESSION_Default" After="AppSearch" Value="0">NOT NO_COMPRESSION</SetProperty>
    <SetProperty Id="NO_P2P"        Action="NO_P2P_Default"        After="AppSearch"  Value="0">NOT NO_P2P</SetProperty>
    <SetProperty Id="HTML"          Action="HTML_Default"          After="AppSearch"  Value="0">NOT HTML</SetProperty>
    <SetProperty Id="JSON"          Action="JSON_Default"          After="AppSearch"  Value="0">NOT JSON</SetProperty>
    <SetProperty Id="LAZY"          Action="LAZY_Default"          After="AppSearch"  Value="1">NOT LAZY</SetProperty>
    <SetProperty Id="LISTEN"        Action="LISTEN_Default"        After="AppSearch"  Value="0">NOT LISTEN</SetProperty>
    <SetProperty Id="NO_SSL_CHECK"  Action="NO_SSL_CHECK_Default"  After="AppSearch"  Value="0">NOT NO_SSL_CHECK</SetProperty>
    <SetProperty Id="CONF_RELOAD_INTERVAL" Action="CONF_RELOAD_INTERVAL_Default" After="AppSearch" Value="0">NOT CONF_RELOAD_INTERVAL</SetProperty>
    <SetProperty Id="BACKEND_COLLECT_TIMEOUT" Action="BACKEND_COLLECT_TIMEOUT_Default" After="AppSearch" Value="180">NOT BACKEND_COLLECT_TIMEOUT</SetProperty>

    <!-- Installer configuration defaults -->
    <SetProperty Id="QUICKINSTALL"           Action="QUICKINSTALL_Default"           After="AppSearch" Value="1">NOT QUICKINSTALL</SetProperty>
    <SetProperty Id="ADD_FIREWALL_EXCEPTION" Action="ADD_FIREWALL_EXCEPTION_Default" After="AppSearch" Value="1">NOT ADD_FIREWALL_EXCEPTION</SetProperty>
    <SetProperty Id="EXECMODE"               Action="EXECMODE_Default"               After="AppSearch" Value="1">NOT EXECMODE</SetProperty>
    <SetProperty Id="RUNNOW"                 Action="RUNNOW_Default"                 After="AppSearch" Value="0">NOT RUNNOW</SetProperty>
    <SetProperty Id="TASK_FREQUENCY"         Action="TASK_FREQUENCY_Default"         After="AppSearch" Value="hourly">NOT TASK_FREQUENCY</SetProperty>
    <SetProperty Id="TASK_MINUTE_MODIFIER"   Action="TASK_MINUTE_MODIFIER_Default"   After="AppSearch" Value="15">NOT TASK_MINUTE_MODIFIER</SetProperty>
    <SetProperty Id="TASK_HOURLY_MODIFIER"   Action="TASK_HOURLY_MODIFIER_Default"   After="AppSearch" Value="1">NOT TASK_HOURLY_MODIFIER</SetProperty>
    <SetProperty Id="TASK_DAILY_MODIFIER"    Action="TASK_DAILY_MODIFIER_Default"    After="AppSearch" Value="1">NOT TASK_DAILY_MODIFIER</SetProperty>

    <!-- Fix properties handled as a checkbox, they must be undefined to uncheck the CB -->
    <SetProperty Id="QUICKINSTALL" Sequence="ui" Action="QUICKINSTALL_Unset" After="AppSearch" Value=""><![CDATA[QUICKINSTALL<>"1"]]></SetProperty>
    <SetProperty Id="NO_HTTPD"     Sequence="ui" Action="NO_HTTPD_Unset"     After="AppSearch" Value=""><![CDATA[NOT NO_HTTPD OR NO_HTTPD<>"0"]]></SetProperty>
    <SetProperty Id="ADD_FIREWALL_EXCEPTION" Sequence="ui" Action="ADD_FIREWALL_EXCEPTION_Unset" After="AppSearch" Value=""><![CDATA[ADD_FIREWALL_EXCEPTION<>"1"]]></SetProperty>
    <SetProperty Id="_EXECMODE_RADIO_BUTTON" Sequence="ui" Action="ExecModeRadio_Service" After="AppSearch" Value="1"><![CDATA[NOT EXECMODE OR (EXECMODE<>"1" AND EXECMODE<>"2" AND EXECMODE<>"3")]]></SetProperty>
    <SetProperty Id="_EXECMODE_RADIO_BUTTON" Sequence="ui" Action="ExecModeRadio_Tasks"   After="AppSearch" Value="2"><![CDATA[EXECMODE="2"]]></SetProperty>
    <SetProperty Id="_EXECMODE_RADIO_BUTTON" Sequence="ui" Action="ExecModeRadio_Manual"  After="AppSearch" Value="3"><![CDATA[EXECMODE="3"]]></SetProperty>
    <SetProperty Id="SCAN_HOMEDIRS" Sequence="ui" Action="SCAN_HOMEDIRS_Unset" After="AppSearch" Value=""><![CDATA[SCAN_HOMEDIRS<>"1"]]></SetProperty>
    <SetProperty Id="SCAN_PROFILES" Sequence="ui" Action="SCAN_PROFILES_Unset" After="AppSearch" Value=""><![CDATA[SCAN_PROFILES<>"1"]]></SetProperty>
    <SetProperty Id="NO_P2P"        Sequence="ui" Action="NO_P2P_Unset"        After="AppSearch" Value=""><![CDATA[NO_P2P<>"1"]]></SetProperty>
    <SetProperty Id="RUNNOW"        Sequence="ui" Action="RUNNOW_Unset"        After="AppSearch" Value=""><![CDATA[RUNNOW<>"1"]]></SetProperty>
    <SetProperty Id="NO_SSL_CHECK"  Sequence="ui" Action="NO_SSL_CHECK_Unset"  After="AppSearch" Value=""><![CDATA[NO_SSL_CHECK<>"1"]]></SetProperty>
    <SetProperty Id="LAZY"          Sequence="ui" Action="LAZY_Unset"          After="AppSearch" Value=""><![CDATA[LAZY<>"1"]]></SetProperty>

    <!-- Fix properties having to be written later in registry -->
    <SetProperty Id="QUICKINSTALL" Sequence="ui" Action="QUICKINSTALL_UnsetForReg" Before="ExecuteAction" Value="0"><![CDATA[NOT QUICKINSTALL OR QUICKINSTALL<>"1"]]></SetProperty>
    <SetProperty Id="NO_HTTPD"     Sequence="ui" Action="NO_HTTPD_SetForReg"       Before="ExecuteAction" Value="1"><![CDATA[NOT NO_HTTPD OR NO_HTTPD<>"0"]]></SetProperty>
    <SetProperty Id="ADD_FIREWALL_EXCEPTION" Sequence="ui" Action="ADD_FIREWALL_EXCEPTION_UnsetForReg" Before="ExecuteAction" Value="0"><![CDATA[NOT ADD_FIREWALL_EXCEPTION OR ADD_FIREWALL_EXCEPTION<>"1"]]></SetProperty>
    <SetProperty Id="EXECMODE"     Sequence="ui" Action="EXECMODE_Update"          Before="ExecuteAction" Value="[_EXECMODE_RADIO_BUTTON]" />
    <SetProperty Id="SCAN_HOMEDIRS" Sequence="ui" Action="SCAN_HOMEDIRS_UnsetForReg" Before="ExecuteAction" Value="0"><![CDATA[NOT SCAN_HOMEDIRS OR SCAN_HOMEDIRS<>"1"]]></SetProperty>
    <SetProperty Id="SCAN_PROFILES" Sequence="ui" Action="SCAN_PROFILES_UnsetForReg" Before="ExecuteAction" Value="0"><![CDATA[NOT SCAN_PROFILES OR SCAN_PROFILES<>"1"]]></SetProperty>
    <SetProperty Id="NO_P2P"       Sequence="ui" Action="NO_P2P_SetForReg"         Before="ExecuteAction" Value="0"><![CDATA[NOT NO_P2P OR NO_P2P<>"1"]]></SetProperty>
    <SetProperty Id="RUNNOW"       Sequence="ui" Action="RUNNOW_SetForReg"         Before="ExecuteAction" Value="0"><![CDATA[NOT RUNNOW OR RUNNOW<>"1"]]></SetProperty>
    <SetProperty Id="HTML"         Sequence="ui" Action="HTML_SetForReg"           Before="ExecuteAction" Value="0"><![CDATA[NOT HTML OR HTML<>"1"]]></SetProperty>
    <SetProperty Id="JSON"         Sequence="ui" Action="JSON_SetForReg"           Before="ExecuteAction" Value="0"><![CDATA[NOT JSON OR JSON<>"1"]]></SetProperty>
    <SetProperty Id="LAZY"         Sequence="ui" Action="LAZY_SetForReg"           Before="ExecuteAction" Value="0"><![CDATA[NOT LAZY OR LAZY<>"1"]]></SetProperty>
    <SetProperty Id="LISTEN"       Sequence="ui" Action="LISTEN_SetForReg"         Before="ExecuteAction" Value="0"><![CDATA[NOT LISTEN OR LISTEN<>"1"]]></SetProperty>
    <SetProperty Id="NO_SSL_CHECK" Sequence="ui" Action="NO_SSL_CHECK_Update"      Before="ExecuteAction" Value="0"><![CDATA[NOT NO_SSL_CHECK OR NO_SSL_CHECK<>"1"]]></SetProperty>
    <SetProperty Id="NO_COMPRESSION" Sequence="ui" Action="NO_COMPRESSION_SetForReg" Before="ExecuteAction" Value="0"><![CDATA[NOT NO_COMPRESSION OR NO_COMPRESSION<>"1"]]></SetProperty>
    <SetProperty Id="TASK_FREQUENCY"       Sequence="ui" Action="TASK_FREQUENCY_SetForReg"         After="AppSearch" Value="hourly"><![CDATA[NOT TASK_FREQUENCY OR (TASK_FREQUENCY<>"minute" AND TASK_FREQUENCY<>"hourly" AND TASK_FREQUENCY<>"daily")]]></SetProperty>
    <SetProperty Id="TASK_MINUTE_MODIFIER" Sequence="ui" Action="TASK_MINUTE_MODIFIER_SetForReg"   After="AppSearch" Value="15"><![CDATA[NOT TASK_MINUTE_MODIFIER OR TASK_MINUTE_MODIFIER < 1 OR TASK_MINUTE_MODIFIER > 1439]]></SetProperty>
    <SetProperty Id="TASK_HOURLY_MODIFIER" Sequence="ui" Action="TASK_HOURLY_MODIFIER_SetForReg"   After="AppSearch" Value="1"><![CDATA[NOT TASK_HOURLY_MODIFIER OR TASK_HOURLY_MODIFIER < 1 OR TASK_HOURLY_MODIFIER > 23]]></SetProperty>
    <SetProperty Id="TASK_DAILY_MODIFIER"  Sequence="ui" Action="TASK_DAILY_MODIFIER_SetForReg"    After="AppSearch" Value="1"><![CDATA[NOT TASK_DAILY_MODIFIER OR TASK_DAILY_MODIFIER < 1 OR TASK_DAILY_MODIFIER > 365]]></SetProperty>

    <!-- After LaunchConditions means also after AppSearch and there is more sequence number free space there -->
    <SetProperty Id="UNINSTALL_VAR" After="LaunchConditions" Value="[UPGRADEDIR]var"><![CDATA[UPGRADEDIR AND REMOVE~="ALL" AND NOT UPGRADINGPRODUCTCODE]]></SetProperty>
    <SetProperty Id="UNINSTALL_ETC" After="LaunchConditions" Value="[UPGRADEDIR]etc"><![CDATA[UPGRADEDIR AND REMOVE~="ALL" AND NOT UPGRADINGPRODUCTCODE]]></SetProperty>
    <SetProperty Id="UNINSTALL_LOG" After="LaunchConditions" Value="[UPGRADEDIR]log"><![CDATA[UPGRADEDIR AND REMOVE~="ALL" AND NOT UPGRADINGPRODUCTCODE]]></SetProperty>

    <Icon Id="i_main_ico" SourceFile="$(var.FileMainIcon)" />

    <WixVariable Id="WixUILicenseRtf" Value="$(var.FileLicenseRtf)" />
    <WixVariable Id="WixUIDialogBmp"  Value="$(var.FileDialogBmp)" />
    <WixVariable Id="WixUIBannerBmp"  Value="$(var.FileBannerBmp)" />
    <Binary Id="Bmp_MainBanner"  SourceFile="$(var.FileBannerBmp)" />

    <MajorUpgrade AllowDowngrades="yes" Schedule="afterInstallInitialize" />

    <CustomAction Id="CA_GetARPInstallLoc" Property="INSTALLDIR"         Value="[UPGRADEDIR]" Execute="immediate" />
    <CustomAction Id="CA_SetARPInstallLoc" Property="ARPINSTALLLOCATION" Value="[INSTALLDIR]" Execute="immediate" />

    <CustomAction Id="SetDefaultLogFile"   Property="LOGFILE" Value="[INSTALLDIR]logs\glpi-agent.log" Execute="firstSequence" />
    <CustomAction Id="SetDefaultVarDir"    Property="VARDIR"  Value="[INSTALLDIR]var" Execute="firstSequence" />

    <CustomAction Id="SetDeleteFirewallExceptionCmd" Property="DeleteFirewallException" Value="&quot;[SystemFolder]netsh.exe&quot; advfirewall firewall delete rule name=&quot;!(loc.FirewallExceptionName)&quot;" Execute="immediate" />
    <CustomAction Id="DeleteFirewallException" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>
    <CustomAction Id="SetAddFirewallExceptionInCmd" Property="AddFirewallExceptionIn" Value="&quot;[SystemFolder]netsh.exe&quot; advfirewall firewall add rule name=&quot;!(loc.FirewallExceptionName)&quot; program=&quot;[#f_agent_exe]&quot; description=&quot;!(loc.FirewallExceptionDescription)&quot; protocol=TCP dir=in localport=[HTTPD_PORT] action=allow" Execute="immediate" />
    <CustomAction Id="AddFirewallExceptionIn" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>
    <CustomAction Id="SetAddFirewallExceptionOutCmd" Property="AddFirewallExceptionOut" Value="&quot;[SystemFolder]netsh.exe&quot; advfirewall firewall add rule name=&quot;!(loc.FirewallExceptionName)&quot; program=&quot;[#f_agent_exe]&quot; description=&quot;!(loc.OutgoingFirewallExceptionDescription)&quot; dir=out action=allow" Execute="immediate" />
    <CustomAction Id="AddFirewallExceptionOut" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

    <!-- GLPI Agent 1.0 to 1.2 installers was creating wrongly named firewall rules, prepare CustomAction to clean up them -->
    <CustomAction Id="SetDeleteWrongFirewallRuleInCmd"  Property="DeleteFirewallWrongIn"  Value="&quot;[SystemFolder]netsh.exe&quot; advfirewall firewall delete rule name=&quot;program=description= embedded HTTP server incoming traffic&quot;" Execute="immediate" />
    <CustomAction Id="DeleteFirewallWrongIn" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>
    <CustomAction Id="SetDeleteWrongFirewallRuleOutCmd" Property="DeleteFirewallWrongOut" Value="&quot;[SystemFolder]netsh.exe&quot; advfirewall firewall delete rule name=&quot;program=description= outgoing traffic&quot;" Execute="immediate" />
    <CustomAction Id="DeleteFirewallWrongOut" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>
    <CustomAction Id="SetDeleteWrongFirewallRuleExeCmd" Property="DeleteFirewallWrongExe" Value="&quot;[SystemFolder]netsh.exe&quot; advfirewall firewall delete rule name=&quot;program=[#f_agent_exe]&quot;" Execute="immediate" />
    <CustomAction Id="DeleteFirewallWrongExe" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

    <CustomAction Id="SetForceRun" Property="ForceRun" Value="&quot;[#f_glpiagent]&quot; --set-forcerun" Execute="immediate" />
    <CustomAction Id="ForceRun" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>
    <CustomAction Id="SetRunNow" Property="RunNow" Value="&quot;[#f_glpiagent]&quot; --force" Execute="immediate" />
    <CustomAction Id="RunNow" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

    <CustomAction Id="SetEndTask" Property="EndTask" Value="&quot;[SystemFolder]schtasks.exe&quot; /tn &quot;$(var.AgentName)&quot; /end" Execute="immediate" />
    <CustomAction Id="EndTask" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>
    <CustomAction Id="SetDeleteTask" Property="DeleteTask" Value="&quot;[SystemFolder]schtasks.exe&quot; /f /tn &quot;$(var.AgentName)&quot; /delete" Execute="immediate" />
    <CustomAction Id="DeleteTask" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>
    <CustomAction Id="SetTaskMinute" Property="TaskMinute" Value="&quot;[SystemFolder]schtasks.exe&quot; /f /tn &quot;$(var.AgentName)&quot; /create /ru system /tr '&quot;[#f_glpiagent]&quot;' /sc minute /mo [TASK_MINUTE_MODIFIER]" Execute="immediate" />
    <CustomAction Id="TaskMinute" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>
    <CustomAction Id="SetTaskHourly" Property="TaskHourly" Value="&quot;[SystemFolder]schtasks.exe&quot; /f /tn &quot;$(var.AgentName)&quot; /create /ru system /tr '&quot;[#f_glpiagent]&quot;' /sc hourly /mo [TASK_HOURLY_MODIFIER]" Execute="immediate" />
    <CustomAction Id="TaskHourly" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>
    <CustomAction Id="SetTaskDaily" Property="TaskDaily" Value="&quot;[SystemFolder]schtasks.exe&quot; /f /tn &quot;$(var.AgentName)&quot; /create /ru system /tr '&quot;[#f_glpiagent]&quot;' /sc daily /mo [TASK_DAILY_MODIFIER]" Execute="immediate" />
    <CustomAction Id="TaskDaily" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

    <InstallExecuteSequence>
      <!-- InstallExecuteSequence is used to define Custom Actions that fire after the UI is finished and the install is starting to execute -->
      <Custom Action="CA_SetARPInstallLoc"    Before="RegisterProduct" />
      <Custom Action="SetDefaultLogFile"      After="CostFinalize">NOT LOGFILE</Custom>
      <Custom Action="SetDefaultVarDir"       After="CostFinalize">NOT VARDIR</Custom>

      <!-- We need to use higher sequence numbers for AppSearch and LaunchConditions to have enough sequence room to schedule all properties related custom actions -->
      <AppSearch Sequence="100" />
      <LaunchConditions Sequence="200" />

      <!-- Schedule custom action to always remove windows task if exists -->
      <Custom Action="SetEndTask" Before="EndTask" />
      <Custom Action="EndTask" Before="StopServices" />
      <Custom Action="SetDeleteTask" Before="DeleteTask" />
      <Custom Action="DeleteTask" Before="DeleteServices" />

      <InstallServices>EXECMODE=1</InstallServices>
      <StartServices>EXECMODE=1</StartServices>
      <!-- Only support util:ServiceConfig when expecting to be installed as service -->
      <Custom Action="SchedServiceConfig" After="InstallServices">EXECMODE=1 AND NOT REMOVE~="ALL"</Custom>

      <!-- Schedule custom action to create windows task if necessary -->
      <Custom Action="SetTaskMinute" After="InstallServices">EXECMODE=2 AND TASK_FREQUENCY~="minute" AND NOT REMOVE~="ALL"</Custom>
      <Custom Action="TaskMinute" After="InstallServices">EXECMODE=2 AND TASK_FREQUENCY~="minute" AND NOT REMOVE~="ALL"</Custom>
      <Custom Action="SetTaskHourly" After="InstallServices">EXECMODE=2 AND TASK_FREQUENCY~="hourly" AND NOT REMOVE~="ALL"</Custom>
      <Custom Action="TaskHourly" After="InstallServices">EXECMODE=2 AND TASK_FREQUENCY~="hourly" AND NOT REMOVE~="ALL"</Custom>
      <Custom Action="SetTaskDaily" After="InstallServices">EXECMODE=2 AND TASK_FREQUENCY~="daily" AND NOT REMOVE~="ALL"</Custom>
      <Custom Action="TaskDaily" After="InstallServices">EXECMODE=2 AND TASK_FREQUENCY~="daily" AND NOT REMOVE~="ALL"</Custom>

      <!-- Schedule custom action to set forcerun, also by-passing lazy option for not service exec modes -->
      <Custom Action="SetForceRun" Before="ForceRun">RUNNOW=1 AND NOT REMOVE~="ALL"</Custom>
      <Custom Action="ForceRun" Before="StartServices">RUNNOW=1 AND NOT REMOVE~="ALL"</Custom>

      <!-- Schedule custom action to support runnow option for not service exec modes -->
      <Custom Action="SetRunNow" Before="RunNow">RUNNOW=1 AND NOT EXECMODE=1 AND NOT REMOVE~="ALL"</Custom>
      <Custom Action="RunNow" Before="InstallFinalize">RUNNOW=1 AND NOT EXECMODE=1 AND NOT REMOVE~="ALL"</Custom>

      <!-- GLPI Agent 1.0 to 1.2 installers was creating wrongly named firewall rules, be sure to clean up them on any new install -->
      <Custom Action="SetDeleteWrongFirewallRuleInCmd" Before="DeleteFirewallWrongIn" />
      <Custom Action="DeleteFirewallWrongIn" Before="InstallFiles" />
      <Custom Action="SetDeleteWrongFirewallRuleOutCmd" Before="DeleteFirewallWrongOut" />
      <Custom Action="DeleteFirewallWrongOut" Before="InstallFiles" />
      <Custom Action="SetDeleteWrongFirewallRuleExeCmd" Before="DeleteFirewallWrongExe" />
      <Custom Action="DeleteFirewallWrongExe" Before="InstallFiles" />

      <!-- Schedule custom action to install/uninstall firewall exception rules -->
      <Custom Action="SetDeleteFirewallExceptionCmd" Before="DeleteFirewallException" />
      <Custom Action="DeleteFirewallException" Before="RemoveFiles" />
      <Custom Action="SetAddFirewallExceptionInCmd" Before="AddFirewallExceptionIn">ADD_FIREWALL_EXCEPTION=1 AND NOT REMOVE~="ALL"</Custom>
      <Custom Action="AddFirewallExceptionIn" After="InstallFiles">ADD_FIREWALL_EXCEPTION=1 AND NOT REMOVE~="ALL"</Custom>
      <Custom Action="SetAddFirewallExceptionOutCmd" Before="AddFirewallExceptionOut">ADD_FIREWALL_EXCEPTION=1 AND NOT REMOVE~="ALL"</Custom>
      <Custom Action="AddFirewallExceptionOut" After="InstallFiles">ADD_FIREWALL_EXCEPTION=1 AND NOT REMOVE~="ALL"</Custom>
    </InstallExecuteSequence>

    <InstallUISequence>
      <!-- InstallUISequence is used to define a dialog or Custom Action that fires in the UI sequence of events during the install -->
      <Custom Action="CA_GetARPInstallLoc"    Before="CostInitialize">UPGRADINGPRODUCTCODE AND UPGRADEDIR</Custom>
      <!-- Better set ProgressDlg to be after MigrateFeatureStates so we can safely insert SetProperties before ExecuteAction -->
      <Show Dialog="ProgressDlg"              After="MigrateFeatureStates" />
      <!-- We need to use higher sequence numbers for AppSearch and LaunchConditions to have enough sequence room to schedule all properties related custom actions -->
      <AppSearch Sequence="100" />
      <LaunchConditions Sequence="200" />
    </InstallUISequence>

    <Condition Message="Cannot install on Windows 9x or ME systems.">VersionNT</Condition>
    <Condition Message="Cannot install on Windows NT 4.0 or Windows 2000 systems.">VersionNT &gt; 500</Condition>

    <UIRef Id='WixUI_MyInstallDlg' />
    <UIRef Id='WixUI_ErrorProgressText' />
    <UIRef Id='WixUI_Common' />

    <UI Id="WixUI_MyInstallDlg">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title"  FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode"    Value="InstallDir" />

      <ProgressText Action="RunNow">!(loc.RunningAgent)</ProgressText>

      <DialogRef Id="BrowseDlg" />
      <DialogRef Id="DiskCostDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />
      <DialogRef Id="ExitDialog" />

      <Publish Dialog="BrowseDlg"             Control="OK"     Event="DoAction" Value="WixUIValidatePath" Order="3">1</Publish>
      <Publish Dialog="BrowseDlg"             Control="OK"     Event="SpawnDialog" Value="InvalidDirDlg" Order="4"><![CDATA[WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
      <Publish Dialog="ExitDialog"            Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
      <Publish Dialog="WelcomeDlg"            Control="Next"   Event="NewDialog" Value="LicenseDlg">1</Publish>

      <Publish Dialog="LicenseDlg"            Control="Back"   Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog="LicenseDlg"            Control="Next"   Event="NewDialog" Value="InstallDirDlg">1</Publish>

      <Publish Dialog="InstallDirDlg"         Control="Back"   Event="NewDialog" Value="LicenseDlg">1</Publish>
      <Publish Dialog="InstallDirDlg"         Control="Next"   Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg"         Control="Next"   Event="DoAction" Value="WixUIValidatePath" Order="2">NOT WIXUI_DONTVALIDATEPATH</Publish>
      <Publish Dialog="InstallDirDlg"         Control="Next"   Event="SpawnDialog" Value="InvalidDirDlg" Order="3"><![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
      <Publish Dialog="InstallDirDlg"         Control="Next"   Event="DoAction" Value="SetDefaultLogFile" Order="4">1</Publish>
      <Publish Dialog="InstallDirDlg"         Control="Next"   Event="DoAction" Value="SetDefaultVarDir" Order="5">1</Publish>
      <Publish Dialog="InstallDirDlg"         Control="Next"   Event="NewDialog" Value="SetupTypeDlg" Order="6">WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"</Publish>
      <Publish Dialog="InstallDirDlg"         Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg"         Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>

      <Publish Dialog="SetupTypeDlg"          Control="Back"   Event="NewDialog" Value="InstallDirDlg">1</Publish>
      <Publish Dialog="SetupTypeDlg"          Control="TypicalButton" Event="NewDialog" Value="D_TargetSetupDlg">1</Publish>
      <Publish Dialog="SetupTypeDlg"          Control="CustomButton" Event="NewDialog" Value="CustomizeDlg">1</Publish>
      <Publish Dialog="SetupTypeDlg"          Control="CompleteButton" Event="NewDialog" Value="D_TargetSetupDlg">1</Publish>

      <Publish Dialog="CustomizeDlg"          Control="Back"   Event="NewDialog" Value="MaintenanceTypeDlg" Order="1">Installed</Publish>
      <Publish Dialog="CustomizeDlg"          Control="Back"   Event="NewDialog" Value="SetupTypeDlg" Order="2">NOT Installed</Publish>
      <Publish Dialog="CustomizeDlg"          Control="Next"   Event="NewDialog" Value="D_TargetSetupDlg">1</Publish>

      <Publish Dialog="D_TargetSetupDlg"      Control="Back"   Event="NewDialog" Value="CustomizeDlg" Order="1">WixUI_InstallMode = "InstallCustom" OR WixUI_InstallMode = "Change"</Publish>
      <Publish Dialog="D_TargetSetupDlg"      Control="Back"   Event="NewDialog" Value="SetupTypeDlg" Order="2">WixUI_InstallMode = "InstallTypical" OR WixUI_InstallMode = "InstallComplete"</Publish>
      <Publish Dialog="D_TargetSetupDlg"      Control="Next"   Property="_LOCALDIR" Value="[LOCAL]" Order="1">1</Publish>
      <Publish Dialog="D_TargetSetupDlg"      Control="Next"   Event="NewDialog" Value="VerifyReadyDlg" Order="2">QUICKINSTALL</Publish>
      <Publish Dialog="D_TargetSetupDlg"      Control="Next"   Event="NewDialog" Value="ServerSSLSetupDlg" Order="3">NOT QUICKINSTALL AND SERVER</Publish>
      <Publish Dialog="D_TargetSetupDlg"      Control="Next"   Event="NewDialog" Value="ExecModeDlg" Order="4">NOT QUICKINSTALL AND NOT SERVER</Publish>
      <Publish Dialog="D_TargetSetupDlg"      Control="ChangeLocal" Property="_LOCALDIR" Value="[INSTALLDIR]" Order="2">NOT LOCAL</Publish>
      <Publish Dialog="D_TargetSetupDlg"      Control="ChangeLocal" Property="_LOCALDIR" Value="[LOCAL]" Order="3">LOCAL</Publish>
      <Publish Dialog="D_TargetSetupDlg"      Control="ChangeLocal" Event="SetTargetPath" Value="_LOCALDIR" Order="4">NOT WIXUI_DONTVALIDATEPATH</Publish>
      <Publish Dialog="D_TargetSetupDlg"      Control="ChangeLocal" Event="DoAction" Value="WixUIValidatePath" Order="5">NOT WIXUI_DONTVALIDATEPATH</Publish>
      <Publish Dialog="D_TargetSetupDlg"      Control="ChangeLocal" Property="_LOCALDIR" Value="[INSTALLDIR]" Order="6"><![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
      <Publish Dialog="D_TargetSetupDlg"      Control="ChangeLocal" Event="SpawnDialog" Value="BrowseLocalDlg" Order="7">1</Publish>

      <Publish Dialog="ServerSSLSetupDlg"     Control="Back"   Event="NewDialog" Value="D_TargetSetupDlg">1</Publish>
      <Publish Dialog="ServerSSLSetupDlg"     Control="Next"   Event="NewDialog" Value="ProxySetupDlg">1</Publish>

      <Publish Dialog="ProxySetupDlg"         Control="Back"   Event="NewDialog" Value="ServerSSLSetupDlg">1</Publish>
      <Publish Dialog="ProxySetupDlg"         Control="Next"   Event="NewDialog" Value="ExecModeDlg">1</Publish>

      <Publish Dialog="ExecModeDlg"           Control="Back"   Event="NewDialog" Value="ProxySetupDlg" Order="1">SERVER</Publish>
      <Publish Dialog="ExecModeDlg"           Control="Back"   Event="NewDialog" Value="D_TargetSetupDlg" Order="2">NOT SERVER</Publish>
      <Publish Dialog="ExecModeDlg"           Control="Next"   Event="NewDialog" Value="HTTPServerSetupDlg" Order="1"><![CDATA[_EXECMODE_RADIO_BUTTON<>"2"]]></Publish>
      <Publish Dialog="ExecModeDlg"           Control="Next"   Event="NewDialog" Value="TaskModeDlg" Order="2">_EXECMODE_RADIO_BUTTON="2"</Publish>

      <Publish Dialog="TaskModeDlg"           Control="Back"   Event="NewDialog" Value="ExecModeDlg">1</Publish>
      <Publish Dialog="TaskModeDlg"           Control="Next"   Event="NewDialog" Value="HTTPServerSetupDlg">1</Publish>

      <Publish Dialog="HTTPServerSetupDlg"    Control="Back"   Event="NewDialog" Value="ExecModeDlg" Order="1"><![CDATA[_EXECMODE_RADIO_BUTTON<>"2"]]></Publish>
      <Publish Dialog="HTTPServerSetupDlg"    Control="Back"   Event="NewDialog" Value="TaskModeDlg" Order="2">_EXECMODE_RADIO_BUTTON="2"</Publish>
      <Publish Dialog="HTTPServerSetupDlg"    Control="Next"   Event="NewDialog" Value="MiscelaneousOptionsDlg">1</Publish>

      <Publish Dialog="MiscelaneousOptionsDlg" Control="Back"   Event="NewDialog" Value="HTTPServerSetupDlg">1</Publish>
      <Publish Dialog="MiscelaneousOptionsDlg" Control="Next"   Event="NewDialog" Value="AdvancedOptionsDlg">1</Publish>

      <Publish Dialog="AdvancedOptionsDlg"    Control="Back"   Event="NewDialog" Value="MiscelaneousOptionsDlg">1</Publish>
      <Publish Dialog="AdvancedOptionsDlg"    Control="Next"   Event="NewDialog" Value="DebugOptionsDlg">1</Publish>

      <Publish Dialog="DebugOptionsDlg"       Control="Back"   Event="NewDialog" Value="AdvancedOptionsDlg">1</Publish>
      <Publish Dialog="DebugOptionsDlg"       Control="Next"   Event="NewDialog" Value="VerifyReadyDlg">1</Publish>

      <Publish Dialog="VerifyReadyDlg"        Control="Back"   Event="NewDialog" Value="MaintenanceTypeDlg" Order="1">WixUI_InstallMode = "Repair" OR WixUI_InstallMode = "Remove"</Publish>
      <Publish Dialog="VerifyReadyDlg"        Control="Back"   Event="NewDialog" Value="D_TargetSetupDlg" Order="2">QUICKINSTALL</Publish>
      <Publish Dialog="VerifyReadyDlg"        Control="Back"   Event="NewDialog" Value="DebugOptionsDlg" Order="3">NOT QUICKINSTALL</Publish>

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next"   Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>
      <!-- Reinstall feat_AGENT feature on Change case so service could be reinstalled and restarted, registry values saved and firewall exception setup -->
      <Publish Dialog="MaintenanceTypeDlg"    Control="ChangeButton" Event="ReinstallMode" Value="am"><![CDATA[OutOfDiskSpace <> 1]]></Publish>
      <Publish Dialog="MaintenanceTypeDlg"    Control="ChangeButton" Event="Reinstall" Value="feat_AGENT"><![CDATA[OutOfDiskSpace <> 1]]></Publish>
      <Publish Dialog="MaintenanceTypeDlg"    Control="ChangeButton" Event="NewDialog" Value="CustomizeDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg"    Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <!-- By default, clicking on Remove, not set immediatly REMOVE to ALL -->
      <Publish Dialog="MaintenanceTypeDlg"    Control="RemoveButton" Property="REMOVE" Value="ALL" Order="1">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg"    Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg" Order="2">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg"    Control="Back"   Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

      <!-- Simplified version of LicenseAgreementDlg -->
      <Dialog Id="LicenseDlg" Width="370" Height="270" Title="!(loc.LicenseAgreementDlg_Title)">
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" Text="Bmp_MainBanner" TabSkip="no" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="340" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.LicenseAgreementDlgDescription)" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.LicenseAgreementDlgTitle)" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)">
          <Publish Event="SpawnWaitDialog" Value="WaitForCostingDlg">!(wix.WixUICostingPopupOptOut) OR CostingComplete = 1</Publish>
        </Control>
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="LicenseText" Type="ScrollableText" X="20" Y="60" Width="330" Height="140" Sunken="yes" TabSkip="no">
          <Text SourceFile="!(wix.WixUILicenseRtf=$(var.FileLicenseRtf))" />
        </Control>
      </Dialog>

      <!-- Dedicated target setup dialog -->
      <Dialog Id="D_TargetSetupDlg" Width="370" Height="270" Title="!(loc.TargetSetupDlg_Title)">
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" Text="Bmp_MainBanner" TabSkip="no" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Text="!(loc.TargetSetupDlg_TextTitle)" Transparent="yes" NoPrefix="yes" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Text="!(loc.TargetSetupDlg_Description)" Transparent="yes" NoPrefix="yes" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="LocalModeGrp" Type="GroupBox" X="10" Y="50" Width="350" Height="65" Text="!(loc.TargetSetupDlg_LocalMode)" />
        <Control Id="LocalTarget" Type="Edit" X="20" Y="70" Width="260" Height="16" Property="LOCAL" />
        <Control Id="LocalModeDescription" Type="Text" X="75" Y="94" Width="140" Height="11" Transparent="yes" NoPrefix="yes" Text="!(loc.TargetSetupDlg_LocalModeDescription)" />
        <Control Id="ChangeLocal" Type="PushButton" X="290" Y="69" Width="56" Height="17" Text="!(loc.InstallDirDlgChange)" />
        <Control Id="ServerModeGrp" Type="GroupBox" X="10" Y="130" Width="350" Height="70" Text="!(loc.TargetSetupDlg_ServerMode)" />
        <Control Id="ServerTarget" Type="Edit" X="20" Y="150" Width="330" Height="16" Property="SERVER" />
        <Control Id="ServerModeDescription" Type="Text" X="20" Y="168" Width="330" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.TargetSetupDlg_ServerModeDescription)" />
        <Control Id="ServerModeExample" Type="Text" X="20" Y="183" Width="330" Height="15" Text="!(loc.TargetSetupDlg_ServerModeExample)" Transparent="yes" NoPrefix="yes" />
        <Control Id="QuickInstallCB" Type="CheckBox" X="236" Y="210" Width="100" Height="15" Text="!(loc.TargetSetupDlg_QuickInstall)" ToolTip="!(loc.TargetSetupDlg_QuickInstallToolTips)" CheckBoxValue="1" Property="QUICKINSTALL" />
      </Dialog>

      <!-- Adapted version of BrowseDlg to handle Local target -->
      <Dialog Id="BrowseLocalDlg" Width="370" Height="270" Title="!(loc.BrowseLocalDlg_Title)">
        <Control Id="LocalEditCtl" Type="PathEdit" X="25" Y="202" Width="320" Height="18" Property="_LOCALDIR" />
        <Control Id="OK" Type="PushButton" X="240" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUIOK)">
          <Publish Property="LOCAL" Value="[_LOCALDIR]">1</Publish>
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="Reset" Value="0">1</Publish>
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>
        <Control Id="ComboLabel" Type="Text" X="25" Y="58" Width="44" Height="10" TabSkip="no" Text="!(loc.BrowseDlgComboLabel)" />
        <Control Id="DirectoryCombo" Type="DirectoryCombo" X="70" Y="55" Width="220" Height="80" Property="_LOCALDIR" Fixed="yes" Remote="yes">
          <Subscribe Event="IgnoreChange" Attribute="IgnoreChange" />
        </Control>
        <Control Id="WixUI_Bmp_Up" Type="PushButton" X="298" Y="55" Width="19" Height="19" ToolTip="!(loc.BrowseDlgWixUI_Bmp_UpTooltip)" Icon="yes" FixedSize="yes" IconSize="16" Text="!(loc.BrowseDlgWixUI_Bmp_Up)">
          <Publish Event="DirectoryListUp" Value="0">1</Publish>
        </Control>
        <Control Id="NewFolder" Type="PushButton" X="325" Y="55" Width="19" Height="19" ToolTip="!(loc.BrowseDlgNewFolderTooltip)" Icon="yes" FixedSize="yes" IconSize="16" Text="!(loc.BrowseDlgNewFolder)">
          <Publish Event="DirectoryListNew" Value="0">1</Publish>
        </Control>
        <Control Id="DirectoryList" Type="DirectoryList" X="25" Y="83" Width="320" Height="98" Property="_LOCALDIR" Sunken="yes" TabSkip="no" />
        <Control Id="PathLabel" Type="Text" X="25" Y="190" Width="320" Height="10" TabSkip="no" Text="!(loc.BrowseLocalDlgPathLabel)" />
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="Bmp_MainBanner" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.BrowseDlgDescription)" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.BrowseLocalDlgTitle)" />
      </Dialog>

      <!-- Dedicated dialog to setup GLPI server SSL options -->
      <Dialog Id="ServerSSLSetupDlg" Width="370" Height="270" Title="!(loc.ServerSSLSetupDlgTitle)">
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" Text="Bmp_MainBanner" TabSkip="no" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Text="!(loc.ServerSSLSetupDlg_Title)" Transparent="yes" NoPrefix="yes" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Text="!(loc.ServerSSLSetupDlgDescription)" Transparent="yes" NoPrefix="yes" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="ServerSSLSetupDlgGrp" Type="GroupBox" X="15" Y="70" Width="340" Height="125" Text="!(loc.ServerSSLSetupGroup)" />
        <Control Id="CACertDirDescription" Type="Text" X="25" Y="85" Width="320" Height="10" Transparent="yes" NoPrefix="yes" Text="!(loc.CACertDirDescription)" />
        <Control Id="CACertDir" Type="Edit" X="25" Y="97" Width="320" Height="15" Property="CA_CERT_DIR" />
        <Control Id="CACertFileDescription" Type="Text" X="25" Y="120" Width="320" Height="10" Transparent="yes" NoPrefix="yes" Text="!(loc.CACertFileDescription)" />
        <Control Id="CACertFile" Type="Edit" X="25" Y="132" Width="320" Height="15" Property="CA_CERT_FILE" />
        <Control Id="SSLFingerPrintDescription" Type="Text" X="25" Y="155" Width="320" Height="10" Transparent="yes" NoPrefix="yes" Text="!(loc.SSLFingerPrintDescription)" />
        <Control Id="SSLFingerPrint" Type="Edit" X="25" Y="167" Width="320" Height="15" Property="SSL_FINGERPRINT" />
        <Control Id="NoSSLCheckDescription" Type="Text" X="20" Y="210" Width="300" Height="10" Transparent="yes" NoPrefix="yes" Text="!(loc.NoSSLCheckDescription)" RightAligned="yes" />
        <Control Id="NoSSLCheckCB" Type="CheckBox" X="322" Y="210" Width="10" Height="10" CheckBoxValue="1" Property="NO_SSL_CHECK" />
      </Dialog>

      <!-- Dedicated dialog to setup server proxy options -->
      <Dialog Id="ProxySetupDlg" Width="370" Height="270" Title="!(loc.ProxySetupDlgTitle)">
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" Text="Bmp_MainBanner" TabSkip="no" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Text="!(loc.ProxySetupDlg_Title)" Transparent="yes" NoPrefix="yes" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Text="!(loc.ProxySetupDlgDescription)" Transparent="yes" NoPrefix="yes" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="ProxySetupDlgGrp" Type="GroupBox" X="15" Y="70" Width="340" Height="140" Text="!(loc.ProxySetupGroup)" />
        <Control Id="ProxyServerDescription" Type="Text" X="25" Y="88" Width="320" Height="10" Transparent="yes" NoPrefix="yes" Text="!(loc.ProxyServerDescription)" />
        <Control Id="ProxyServer" Type="Edit" X="25" Y="100" Width="320" Height="15" Property="PROXY" />
        <Control Id="ProxyUserDescription" Type="Text" X="25" Y="130" Width="320" Height="10" Transparent="yes" NoPrefix="yes" Text="!(loc.ProxyUserDescription)" />
        <Control Id="ProxyUser" Type="Edit" X="25" Y="142" Width="320" Height="15" Property="USER" />
        <Control Id="ProxyPasswordDescription" Type="Text" X="25" Y="172" Width="320" Height="10" Transparent="yes" NoPrefix="yes" Text="!(loc.ProxyPasswordDescription)" />
        <Control Id="ProxyPassword" Type="Edit" X="25" Y="184" Width="320" Height="15" Password="yes" Property="PASSWORD" />
      </Dialog>

      <!-- Dedicated dialog to select execution mode, only service or manual for now -->
      <Dialog Id="ExecModeDlg" Width="370" Height="270" Title="!(loc.ExecModeDlgTitle)">
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" Text="Bmp_MainBanner" TabSkip="no" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Text="!(loc.ExecModeDlg_Title)" Transparent="yes" NoPrefix="yes" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Text="!(loc.ExecModeDlgDescription)" Transparent="yes" NoPrefix="yes" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="ExecModeGrp" Type="GroupBox" X="60" Y="70" Width="250" Height="90" Text="!(loc.ExecModeDlgGroup)" />
        <Control Id="ExecModeChoice" Type="RadioButtonGroup" Property="_EXECMODE_RADIO_BUTTON" X="70" Y="90" Width="230" Height="70" />
        <Control Id="RunNow" Type="CheckBox" X="60" Y="190" Width="250" Height="10" Text="!(loc.RunNow)" CheckBoxValue="1" Property="RUNNOW" />
        <Control Id="Lazy" Type="CheckBox" X="60" Y="205" Width="250" Height="20" Disabled="yes" Text="!(loc.Lazy)" ToolTip="!(loc.LazyToolTip)" CheckBoxValue="1" Property="LAZY">
          <Condition Action="enable"><![CDATA[_EXECMODE_RADIO_BUTTON <> "1"]]></Condition>
          <Condition Action="disable">_EXECMODE_RADIO_BUTTON = 1</Condition>
        </Control>
      </Dialog>
      <RadioButtonGroup Property="_EXECMODE_RADIO_BUTTON">
        <RadioButton Text="!(loc.ExecModeDlgService)" X="10" Y="0" Width="200" Height="17" Value="1" />
        <RadioButton Text="!(loc.ExecModeDlgTaskScheduler)" X="10" Y="20" Width="200" Height="17" Value="2" />
        <RadioButton Text="!(loc.ExecModeDlgManual)" X="10" Y="40" Width="200" Height="17" Value="3" />
      </RadioButtonGroup>

      <!-- Dedicated dialog to setup windows task scheduling exec mode -->
      <Dialog Id="TaskModeDlg" Width="370" Height="270" Title="!(loc.TaskModeDlgTitle)">
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" Text="Bmp_MainBanner" TabSkip="no" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Text="!(loc.TaskModeDlg_Title)" Transparent="yes" NoPrefix="yes" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Text="!(loc.TaskModeDlgDescription)" Transparent="yes" NoPrefix="yes" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="TaskModeGrp" Type="GroupBox" X="60" Y="70" Width="250" Height="90" Text="!(loc.TaskModeGroup)" />
        <Control Id="IntervalUnit" Type="Text" X="90" Y="100" Width="80" Height="10" Transparent="yes" NoPrefix="yes" Text="!(loc.IntervalUnit)" />
        <Control Id="IntervalUnitList" Type="ComboBox" X="90" Y="115" Width="80" Height="16" Sorted="yes" ComboList="yes" Property="TASK_FREQUENCY" />
        <Control Id="MinuteInterval" Type="Text" X="200" Y="100" Width="80" Height="10" Hidden="yes" Transparent="yes" NoPrefix="yes" Text="!(loc.MinuteInterval)">
          <Condition Action="show">TASK_FREQUENCY = "minute"</Condition>
          <Condition Action="hide"><![CDATA[TASK_FREQUENCY <> "minute"]]></Condition>
        </Control>
        <Control Id="MinuteIntervalList" Type="ComboBox" X="200" Y="115" Width="80" Height="16" Hidden="yes" Sorted="yes" ComboList="yes" Property="TASK_MINUTE_MODIFIER">
          <Condition Action="show">TASK_FREQUENCY = "minute"</Condition>
          <Condition Action="hide"><![CDATA[TASK_FREQUENCY <> "minute"]]></Condition>
        </Control>
        <Control Id="HourlyInterval" Type="Text" X="200" Y="100" Width="80" Height="10" Hidden="yes" Transparent="yes" NoPrefix="yes" Text="!(loc.HourlyInterval)">
          <Condition Action="show">TASK_FREQUENCY = "hourly"</Condition>
          <Condition Action="hide"><![CDATA[TASK_FREQUENCY <> "hourly"]]></Condition>
        </Control>
        <Control Id="HourlyIntervalList" Type="ComboBox" X="200" Y="115" Width="80" Height="16" Hidden="yes" Sorted="yes" ComboList="yes" Property="TASK_HOURLY_MODIFIER">
          <Condition Action="show">TASK_FREQUENCY = "hourly"</Condition>
          <Condition Action="hide"><![CDATA[TASK_FREQUENCY <> "hourly"]]></Condition>
        </Control>
        <Control Id="DailyInterval" Type="Text" X="200" Y="100" Width="80" Height="10" Hidden="yes" Transparent="yes" NoPrefix="yes" Text="!(loc.DailyInterval)">
          <Condition Action="show">TASK_FREQUENCY = "daily"</Condition>
          <Condition Action="hide"><![CDATA[TASK_FREQUENCY <> "daily"]]></Condition>
        </Control>
        <Control Id="DailyIntervalList" Type="ComboBox" X="200" Y="115" Width="80" Height="16" Hidden="yes" Sorted="yes" ComboList="yes" Property="TASK_DAILY_MODIFIER">
          <Condition Action="show">TASK_FREQUENCY = "daily"</Condition>
          <Condition Action="hide"><![CDATA[TASK_FREQUENCY <> "daily"]]></Condition>
        </Control>
      </Dialog>

      <ComboBox Property="TASK_FREQUENCY">
        <ListItem Text="!(loc.Minute)" Value="minute" />
        <ListItem Text="!(loc.Hourly)" Value="hourly" />
        <ListItem Text="!(loc.Daily)" Value="daily" />
      </ComboBox>

      <ComboBox Property="TASK_MINUTE_MODIFIER">
        <ListItem Text="1" Value="1" />
        <ListItem Text="2" Value="2" />
        <ListItem Text="5" Value="5" />
        <ListItem Text="10" Value="10" />
        <ListItem Text="15" Value="15" />
        <ListItem Text="20" Value="20" />
        <ListItem Text="30"  Value="30" />
        <ListItem Text="45"  Value="45" />
      </ComboBox>

      <ComboBox Property="TASK_HOURLY_MODIFIER">
        <ListItem Text="1" Value="1" />
        <ListItem Text="2"  Value="2" />
        <ListItem Text="3"  Value="3" />
        <ListItem Text="4"  Value="4" />
        <ListItem Text="5"  Value="5" />
        <ListItem Text="6"  Value="6" />
        <ListItem Text="7"  Value="7" />
        <ListItem Text="8"  Value="8" />
        <ListItem Text="9"  Value="9" />
        <ListItem Text="10"  Value="10" />
        <ListItem Text="11"  Value="11" />
        <ListItem Text="12"  Value="12" />
        <ListItem Text="13"  Value="13" />
        <ListItem Text="14"  Value="14" />
        <ListItem Text="15"  Value="15" />
        <ListItem Text="16"  Value="16" />
        <ListItem Text="17"  Value="17" />
        <ListItem Text="18"  Value="18" />
        <ListItem Text="19"  Value="19" />
        <ListItem Text="20"  Value="20" />
        <ListItem Text="21"  Value="21" />
        <ListItem Text="22"  Value="22" />
        <ListItem Text="23"  Value="23" />
      </ComboBox>

      <ComboBox Property="TASK_DAILY_MODIFIER">
        <ListItem Text="1" Value="1" />
        <ListItem Text="2"  Value="2" />
        <ListItem Text="3"  Value="3" />
        <ListItem Text="4"  Value="4" />
        <ListItem Text="5"  Value="5" />
        <ListItem Text="6"  Value="6" />
        <ListItem Text="7"  Value="7" />
        <ListItem Text="8"  Value="8" />
        <ListItem Text="9"  Value="9" />
        <ListItem Text="10"  Value="10" />
        <ListItem Text="11"  Value="11" />
        <ListItem Text="12"  Value="12" />
        <ListItem Text="13"  Value="13" />
        <ListItem Text="14"  Value="14" />
        <ListItem Text="15"  Value="15" />
        <ListItem Text="16"  Value="16" />
        <ListItem Text="17"  Value="17" />
        <ListItem Text="18"  Value="18" />
        <ListItem Text="19"  Value="19" />
        <ListItem Text="20"  Value="20" />
        <ListItem Text="21"  Value="21" />
        <ListItem Text="22"  Value="22" />
        <ListItem Text="23"  Value="23" />
        <ListItem Text="24"  Value="24" />
        <ListItem Text="25"  Value="25" />
        <ListItem Text="26"  Value="26" />
        <ListItem Text="27"  Value="27" />
        <ListItem Text="28"  Value="28" />
        <ListItem Text="29"  Value="29" />
        <ListItem Text="30"  Value="30" />
        <ListItem Text="31"  Value="31" />
      </ComboBox>

      <!-- Dedicated dialog to setup included HTTP server options -->
      <Dialog Id="HTTPServerSetupDlg" Width="370" Height="270" Title="!(loc.HTTPServerSetupDlgTitle)">
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" Text="Bmp_MainBanner" TabSkip="no" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Text="!(loc.HTTPServerSetupDlg_Title)" Transparent="yes" NoPrefix="yes" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Text="!(loc.HTTPServerSetupDlgDescription)" Transparent="yes" NoPrefix="yes" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="HTTPServerGrp" Type="GroupBox" X="15" Y="70" Width="340" Height="100" Text="!(loc.HTTPServerSetupDlgGroup)" />
        <Control Id="HTTPServerIPDescription" Type="Text" X="25" Y="88" Width="50" Height="10" Transparent="yes" NoPrefix="yes" Text="!(loc.HTTPServerSetupIP)" />
        <Control Id="HTTPServerIP" Type="Edit" X="25" Y="100" Width="90" Height="15" Property="HTTPD_IP" />
        <Control Id="HTTPServerPortDescription" Type="Text" X="125" Y="88" Width="50" Height="10" Transparent="yes" NoPrefix="yes" Text="!(loc.HTTPServerSetupPort)" />
        <Control Id="HTTPServerPort" Type="Edit" X="125" Y="100" Width="50" Height="15" Property="HTTPD_PORT" />
        <Control Id="AuthorizedIPsDescription" Type="Text" X="25" Y="130" Width="50" Height="10" Transparent="yes" NoPrefix="yes" Text="!(loc.HTTPServerSetupTrustedIPs)" />
        <Control Id="AuthorizedIPs" Type="Edit" X="25" Y="142" Width="320" Height="15" Property="HTTPD_TRUST" />
        <Control Id="FirewallExceptionDescription" Type="Text" X="20" Y="190" Width="300" Height="10" Transparent="yes" NoPrefix="yes" Text="!(loc.HTTPServerSetupAddFirewallException)" RightAligned="yes" />
        <Control Id="FirewallExceptionCB" Type="CheckBox" X="322" Y="190" Width="10" Height="10" CheckBoxValue="1" Property="ADD_FIREWALL_EXCEPTION" />
        <Control Id="HTTPServerEnableDescription" Type="Text" X="20" Y="210" Width="300" Height="10" Transparent="yes" NoPrefix="yes" Text="!(loc.HTTPServerSetupEnableServer)" RightAligned="yes" />
        <Control Id="HTTPServerEnableCB" Type="CheckBox" X="322" Y="210" Width="10" Height="10" CheckBoxValue="0" Property="NO_HTTPD" />
      </Dialog>

      <!-- Dedicated dialog to setup miscelaneous options -->
      <Dialog Id="MiscelaneousOptionsDlg" Width="370" Height="270" Title="!(loc.MiscelaneousOptionsDlgTitle)">
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" Text="Bmp_MainBanner" TabSkip="no" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Text="!(loc.MiscelaneousOptionsDlg_Title)" Transparent="yes" NoPrefix="yes" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Text="!(loc.MiscelaneousOptionsDlgDescription)" Transparent="yes" NoPrefix="yes" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="MiscelaneousOptionsGrp" Type="GroupBox" X="50" Y="70" Width="270" Height="105" Text="!(loc.MiscelaneousOptionsGroup)" />
        <Control Id="Tag" Type="Text" X="60" Y="88" Width="50" Height="10" Transparent="yes" NoPrefix="yes" Text="!(loc.TagOption)" />
        <Control Id="TagOption" Type="Edit" X="60" Y="100" Width="250" Height="16" Property="TAG" />
        <Control Id="ScanHomedirsOption" Type="CheckBox" X="60" Y="120" Width="250" Height="10" CheckBoxValue="1" Property="SCAN_HOMEDIRS" Text="!(loc.ScanHomedirsOption)" />
        <Control Id="ScanProfilesOption" Type="CheckBox" X="60" Y="135" Width="250" Height="10" CheckBoxValue="1" Property="SCAN_PROFILES" Text="!(loc.ScanProfilesOption)" />
        <Control Id="SaveAsJsonOption" Type="CheckBox" X="60" Y="150" Width="250" Height="10" CheckBoxValue="1" Property="JSON" Text="!(loc.SaveAsJsonOption)" />
      </Dialog>

      <!-- Dedicated dialog to setup advanced options -->
      <Dialog Id="AdvancedOptionsDlg" Width="370" Height="270" Title="!(loc.AdvancedOptionsDlgTitle)">
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" Text="Bmp_MainBanner" TabSkip="no" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Text="!(loc.AdvancedOptionsDlg_Title)" Transparent="yes" NoPrefix="yes" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Text="!(loc.AdvancedOptionsDlgDescription)" Transparent="yes" NoPrefix="yes" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="Advice" Type="Text" X="15" Y="60" Width="340" Height="30" Transparent="yes" NoPrefix="yes" Text="!(loc.AdvancedAdvice)" />
        <Control Id="TimeOptionsGrp" Type="GroupBox" X="15" Y="85" Width="165" Height="130" Text="!(loc.TimeOptionsGrp)" />
        <Control Id="TimeOut" Type="Text" X="25" Y="105" Width="145" Height="10" Transparent="yes" NoPrefix="yes" Text="!(loc.TimeOut)" />
        <Control Id="TimeOutOption" Type="Edit" X="25" Y="115" Width="50" Height="15" Property="TIMEOUT" />
        <Control Id="DelayTime" Type="Text" X="25" Y="140" Width="145" Height="10" Transparent="yes" NoPrefix="yes" Text="!(loc.DelayTime)" />
        <Control Id="DelayTimeOption" Type="Edit" X="25" Y="150" Width="50" Height="15" Property="DELAYTIME" />
        <Control Id="BackendCollectTimeOut" Type="Text" X="25" Y="175" Width="145" Height="10" Transparent="yes" NoPrefix="yes" Text="!(loc.BackendCollectTimeOut)" />
        <Control Id="BackendCollectTimeOutOption" Type="Edit" X="25" Y="185" Width="50" Height="15" Property="BACKEND_COLLECT_TIMEOUT" />
        <Control Id="OtherOptionsGrp" Type="GroupBox" X="190" Y="85" Width="165" Height="130" Text="!(loc.OtherOptionsGrp)" />
        <Control Id="P2p" Type="CheckBox" X="195" Y="105" Width="145" Height="10" CheckBoxValue="1" Property="NO_P2P" Text="!(loc.P2POption)" />
        <Control Id="Tasks" Type="Text" X="195" Y="120" Width="145" Height="10" Transparent="yes" NoPrefix="yes" Text="!(loc.Tasks)" />
        <Control Id="TasksOption" Type="Edit" X="195" Y="130" Width="155" Height="16" Property="TASKS" ToolTip="!(loc.TasksFormat)" />
        <Control Id="NoTask" Type="Text" X="195" Y="150" Width="145" Height="10" Transparent="yes" NoPrefix="yes" Text="!(loc.NoTask)" />
        <Control Id="NoTaskOption" Type="Edit" X="195" Y="160" Width="155" Height="16" Property="NO_TASK" ToolTip="!(loc.NoTaskFormat)" />
        <Control Id="NoCategory" Type="Text" X="195" Y="180" Width="130" Height="10" Transparent="yes" NoPrefix="yes" Text="!(loc.NoCategory)" />
        <Control Id="NoCategoryOption" Type="Edit" X="195" Y="190" Width="155" Height="16" Property="NO_CATEGORY" ToolTip="!(loc.NoCategoryFormat)" />
      </Dialog>

      <!-- Dedicated dialog to setup debug options -->
      <Dialog Id="DebugOptionsDlg" Width="370" Height="270" Title="!(loc.DebugOptionsDlgTitle)">
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" Text="Bmp_MainBanner" TabSkip="no" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Text="!(loc.DebugOptionsDlg_Title)" Transparent="yes" NoPrefix="yes" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Text="!(loc.DebugOptionsDlgDescription)" Transparent="yes" NoPrefix="yes" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="DebugOptionsDlgGrp" Type="GroupBox" X="50" Y="70" Width="270" Height="120" Text="!(loc.DebugOptionsGroup)" />
        <Control Id="Debug" Type="Text" X="60" Y="88" Width="90" Height="10" Transparent="yes" NoPrefix="yes" Text="!(loc.DebugOption)" />
        <Control Id="DebugOption" Type="ComboBox" X="60" Y="100" Width="60" Height="16" Sorted="yes" ComboList="yes" Property="DEBUG" />
        <Control Id="Logger" Type="Text" X="190" Y="88" Width="50" Height="10" Transparent="yes" NoPrefix="yes" Text="!(loc.LoggerOption)" />
        <Control Id="LoggerOption" Type="ComboBox" X="190" Y="100" Width="120" Height="16" Sorted="yes" ComboList="yes" Property="LOGGER" />
        <Control Id="LogFile" Type="Text" X="60" Y="120" Width="50" Height="10" Transparent="yes" NoPrefix="yes" Text="!(loc.LogFileOption)" />
        <Control Id="LogFileOption" Type="Edit" X="60" Y="130" Width="250" Height="16" Property="LOGFILE" />
        <Control Id="LogFileMaxSize" Type="Text" X="60" Y="150" Width="140" Height="10" Transparent="yes" NoPrefix="yes" Text="!(loc.LogFileMaxSizeOption)" />
        <Control Id="LogFileMaxSizeOption" Type="Edit" X="60" Y="160" Width="60" Height="16" Property="LOGFILE_MAXSIZE" />
      </Dialog>

      <ComboBox Property="DEBUG">
        <ListItem Text="!(loc.Debug0)" Value="0" />
        <ListItem Text="!(loc.Debug1)" Value="1" />
        <ListItem Text="!(loc.Debug2)" Value="2" />
      </ComboBox>

      <ComboBox Property="LOGGER">
        <ListItem Text="!(loc.FileLogger)" Value="file" />
        <ListItem Text="!(loc.StderrLogger)" Value="stderr" />
      </ComboBox>
    </UI>

    <Directory Id="TARGETDIR" Name="SourceDir">

[%- IF bits==32 %]
      <Directory Id="ProgramFilesFolder">
[%- ELSE %]
      <Directory Id="ProgramFiles64Folder">
[%- END %]
        <Directory Id="INSTALLDIR" Name="$(var.RootDir)">
<!-- generated directory tree -->
[%xml_msi_dirtree%]
<!-- generated directory tree - END -->
        </Directory> <!-- INSTALLDIR -->
      </Directory>   <!-- ProgramFilesFolder -->

    </Directory>     <!-- TARGETDIR -->

    <Feature Id="feat_MSI"  Title="!(loc.ProductTitle)" Description="!(loc.ProductDescription)" Level="1" Display="expand" Absent="disallow">
      <!-- feat_AGENT permits to use "Change" requests to entirely (re-)configure the agent -->
      <Feature Id="feat_AGENT" Display="hidden" Absent="disallow" />
      <Feature Id="feat_NETINV"  Title="!(loc.NetInventory)" Description="!(loc.NetInventoryDescription)" Level="1000" />
      <Feature Id="feat_DEPLOY"  Title="!(loc.Deploy)" Description="!(loc.DeployDescription)" Level="3" />
      <Feature Id="feat_COLLECT" Title="!(loc.Collect)" Description="!(loc.CollectDescription)" Level="3" />
      <Feature Id="feat_ESX"     Title="!(loc.Esx)" Description="!(loc.EsxDescription)" Level="1000" />
      <!-- Level=0: WOL still not supported in this installer -->
      <Feature Id="feat_WOL"     Title="!(loc.Wol)" Description="!(loc.WolDescription)" Level="0" />
    </Feature>

  </Product>
</Wix>
