@echo off
for %%p in (".") do pushd "%%~fsp"
cd /d "%~dp0"
set _OLDPATH=%PATH%
set PATH=%~dp0perl\bin;%PATH%
[% IF ! msi AND tag == 'agent' %]
perl\bin\glpi-agent.exe perl\bin\glpi-[%tag%] --conf-file=etc/agent.cfg %*
[% ELSE %]
perl\bin\glpi-agent.exe perl\bin\glpi-[%tag%] %*
[% END %]
set PATH=%_OLDPATH%
set _OLDPATH=
popd
