<?xml version="1.0" encoding="utf-8"?>

<Include>
  <?define AgentName         = "[%agent_fullname%]" ?>   <!-- e.g. "GLPI Agent" -->
[%- IF ! agent_vertag %]
  <?define ProductName       = "[%agent_fullname%] [%agent_vernum%]" ?>   <!-- e.g. "GLPI Agent 1.0" -->
[%- ELSE %]
  <?define ProductName       = "[%agent_fullname%] [%agent_vernum%] ([%agent_vertag%])" ?>   <!-- e.g. "GLPI Agent 1.0 (beta2)" -->
[%- END %]
  <?define UpgradeCode       = "[%msi_upgrade_code%]" ?> <!-- e.g. "0DEF72A8-E5EE-4116-97DC-753718E19CD5" -->
  <?define ProductGUID       = "[%msi_product_guid%]" ?> <!-- e.g. "444492A0-D47C-4290-BAF7-8113318CD031" -->
  <?define Version4digit     = "[%agent_fullver%]" ?>    <!-- e.g. "1.0.0.1" -->
  <?define CurrentVersion    = "[%agent_vernum%]" ?>     <!-- e.g. "1.0" or "1.0.1"-->
  <?define Manufacturer      = "[%app_publisher%]" ?>       <!-- e.g. "Teclib'" -->
  <?define URLAbout          = "[%url_about%]" ?>           <!-- e.g. "https://glpi-project.org/" -->
  <?define URLHelp           = "[%url_help%]" ?>            <!-- e.g. "https://glpi-project.org/discussions/" -->
  <?define RootDir           = "[%agent_rootdir%]" ?>       <!-- e.g. "GLPI-Agent" -->

  <?define FileMainIcon      = "[%msi_main_icon%]" ?>
  <?define FileLicenseRtf    = "[%msi_license_rtf%]" ?>
  <?define FileDialogBmp     = "[%msi_dialog_bmp%]" ?>
  <?define FileBannerBmp     = "[%msi_banner_bmp%]" ?>

[% IF msi_debug %]
  [%- IF ! agent_vertag %]
    [%- IF 64 == bits -%]
  <?define PkgComments       = "64bit [%agent_vernum%] debug build" ?>
    [%- ELSE -%]
  <?define PkgComments       = "32bit [%agent_vernum%] debug build" ?>
    [%- END -%]
  [%- ELSE -%]
    [%- IF 64 == bits -%]
  <?define PkgComments       = "64bit [%agent_vernum%] [%agent_vertag%] debug build" ?>
    [%- ELSE -%]
  <?define PkgComments       = "32bit [%agent_vernum%] [%agent_vertag%] debug build" ?>
    [%- END -%]
  [%- END -%]
[%- ELSE -%]
  [%- IF ! agent_vertag %]
    [%- IF 64 == bits -%]
  <?define PkgComments       = "64bit [%agent_vernum%] release build" ?>
    [%- ELSE -%]
  <?define PkgComments       = "32bit [%agent_vernum%] release build" ?>
    [%- END -%]
  [%- ELSE -%]
    [%- IF 64 == bits -%]
  <?define PkgComments       = "64bit [%agent_vernum%] [%agent_vertag%] build" ?>
    [%- ELSE -%]
  <?define PkgComments       = "32bit [%agent_vernum%] [%agent_vertag%] build" ?>
    [%- END -%]
  [%- END -%]
[% END %]
</Include>
