body, p, li {
  font-family: 'Bitstream Vera Sans', Verdana, Tahoma, 'Sans serif';
  color: black;
  font-size: 16px;
  text-align: left;
  margin: 0 auto;
}

a {
  color: black;
  text-decoration: underline;
}

a:hover {
  color: #ff9900;
  text-decoration: underline;
}

a.noline {
  text-decoration: none;
}

table {
  width: 100%;
}

th {
  background-color: #e6e6e6;
  border-bottom: 1px solid #eee;
  padding: 10px 5px;
  white-space: nowrap;
}

tr:hover {
  background-color: #f1f1f1;
}

td.list {
  border-bottom: 1px solid #eee;
  padding: 5px;
}

table.ip_range {
  padding-top: 0.5em;
}

#header {
  display: block;
  width: 100%;
  height: 55px;
  background-color: #3a5693;
}

#logo {
  position: absolute;
  z-index: 1000;
  float: left;
  width: 200px;
  height: 55px;
}

#logo a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

#configmenu {
  z-index: 1000;
  float: right;
  width: 30px;
  height: 30px;
  padding: 14px;
}

#configmenu a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

#pagetitle {
  font-size: 18px;
  padding: 15px;
  text-align: center;
  color: #fff;
  display: inline-block;
  width: 80%;
}

#page {
  padding: .5em;
  min-height: 250px;
  display: block;
  margin-left: 180px;
}

#footer {
  font-size: 12px;
  background-color: #e2e1de;
  padding: 5px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

#page li {
  font-size: 16px;
}

input.submit {
  background-color: #fec95c;
  color: #8f5a0a;
  font: bold 16px Arial, Helvetica;
  white-space: nowrap;
  display: inline-block;
  border: 0;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  margin-top: 20px;
  margin-right: 30px;
}

#submit {
  margin-top: 20px;
}

select {
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}

select:disabled {
  background-color: #faf9f8;
}

label {
  font: 20px Arial, Helvetica;
  padding-top: 10px;
}

.form-edit-row {
  display: flex;
  flex-direction: row;
}

.form-edit {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
  padding-right: 1em;
}

.input-row {
  margin-left: 5px;
}

.right {
  text-align: right;
  flex-direction: column;
  margin-right: 8px;
}

p.infos {
  font-size: 16px;
}

p.home {
  font-size: 16px;
}

#errors p {
  background-color: #ff0000;
  color: #900000;
  text-align: center;
  font: bold 20px Arial, Helvetica;
  width: 100%;
  margin-left: 0px;
  padding: 5px;
}

#info p {
  background-color: #00ff00;
  color: #009000;
  text-align: center;
  font: bold 16px Arial, Helvetica;
  width: 100%;
  margin-left: 0px;
  padding: 5px;
}

textarea {
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
  width: 100%;
  height: 50em;
  box-sizing: border-box;
}

.counters-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0.5em;
}

.counter-cell {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
}

.counter-cell label {
  font: bold 16px Arial, Helvetica;
}

span.counter {
  font: bold 26px Arial, Helvetica;
  background-color: #5ec95c;
  color: #1f5a0a;
  border: 0px solid #000;
  padding: 6px 60px;
  border-radius: 20px;
}

.big-button {
  padding: 10px;
  cursor: pointer;
  height: auto;
  font: bold 16px Arial, Helvetica;
  color: #8f5a0a;
  background-color: #fec95c;
  border: 0;
  white-space: nowrap;
  display: inline-block;
}

.big-button:hover {
  opacity: .9;
  box-shadow: 0px 1px 1px #999;
}

.big-button:disabled {
  background-color: #faf9f8;
  color: gray;
}

input.submit-secondary {
  color: black;
  background-color: #d6d6d6;
  font-weight: normal;
  margin: 4px;
  height: 24px;
}

input.submit-secondary:hover {
   opacity: .9;
   box-shadow: 0px 1px 1px #999;
}

input.submit-secondary:disabled {
  box-shadow: 0px 1px 1px #999;
  color: gray;
}

.select-row {
  margin-top: 10px;
  display: flex;
}

hr {
  margin: 1.5em 1px 1.5em 0;
}

.display-option {
  font: 12px Arial, Helvetica;
}

#radio-options input {
  margin-left: 2em;
  margin-top: 0.8em;
}

#radio-options label {
  margin-left: 2px;
}

.selection-option {
  font: 14px Arial, Helvetica;
  margin-left: 5px;
}

select.selection-option {
  font: 14px Arial, Helvetica;
  margin-right: 4px;
}

.col-sort-ascend::before {
  content: "\25b4";
  color: #b3b3b3;
  padding-right: 5px;
}

.col-sort-descend::before {
  content: "\25be";
  color: #b3b3b3;
  padding-right: 5px;
}

.arrow {
  font-size: 1.2em;
  text-decoration: none;
  text-align: center;
  width: 70px;
}

.list-nav {
  display: flex;
  flex-direction: row;
}

.list-count {
  width: 10%;
  text-align: center;
  padding-top: 0.3em;
}

.list-option {
  flex-grow: 1;
  text-align: right;
  margin-right: 10px;
}

.arrow-left {
  width: 38px;
  height: 22px;
  margin-left:5px;
  background: url("arrow-left.png") 0 0 no-repeat;
}

.separation {
  width: 1px;
  height: 20px;
  background: linear-gradient(#aaa, #aaa) 0 0 no-repeat;
  margin: 5px 10px 5px 10px;
}

th.checkbox {
  padding: 1px;
  width: 20px;
}

td.checkbox {
  width: 20px;
  border-bottom: 1px solid #eee;
}

input.checkbox {
  width: 0;
  height: 0;
  cursor: pointer;
  position: absolute;
  opacity: 0;
}

label.checkbox {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  height: 20px;
  width: 20px;
}

span.custom-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  width: 12px;
  margin-left: 4px;
  margin-top: 4px;
  background-color: #fff;
  border: 1px solid #777;
  border-radius: 3px;
}

span.all_cb {
  background-color: #e6e6e6;
}

span.custom-checkbox:after {
  position: absolute;
  content: "";
  display: none;
}

.checkbox input:checked ~ .custom-checkbox:after {
  display: block;
}

.checkbox .custom-checkbox:after {
  left: 3px;
  top: 0px;
  width: 4px;
  height: 8px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#credentials li {
  line-height: 1.5em;
  list-style: none;
  margin-left: 5px;
}

#credentials ul {
  padding: 0;
}

.tab {
  overflow: hidden;
}

.tab button {
  font-size: 16px;
  font-weight: bold;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
  padding: .5em 1em;
  background-color: #e6e6e6;
}

.tab button:hover {
  background-color: #aaa;
}

.tab button.active {
  background-color: #3a5693;
  color: #fff;
  border: none;
}

.tabcontent {
  display: none;
  border-top: none;
}

#navbar {
  width: 180px;
  float: left;
  margin: 5px 0;
}

#navbar a, a:hover {
  text-decoration: none;
  cursor: pointer;
}

#navbar ul {
  padding: .5em 1em;
  clear: left;
  margin: 0;
  list-style: none;
}

#navbar li {
  margin: 0;
  background-color: #e6e6e6;
  text-align: center;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
}

#navbar li:hover {
  background-color: #efefef;
}

div.nav {
  padding: .5em 1em;
}

label.closed {
  cursor: pointer;
  margin-right: 2px;
}

label.closed::before {
  content: '\0229E';
}

label.opened {
  cursor: pointer;
  margin-right: 2px;
}

label.opened::before {
  content: '\0229F';
}

.yaml {
  text-align: center;
}

div.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.overlay-frame {
  text-align: center;
  position: absolute;
  top: 30%;
  width: 40%;
  left: 30%;
  background: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 0.5em;
  cursor: default;
}

.center {
  text-align: center;
}

#other_fields {
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
  width: min-content;
  height: 3em;
  box-sizing: border-box;
}
